Repository mutuals-finance/mutuals: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-shared, run-app, run-cms, run-landing, run-docs, run-contracts

.circleci/config.yml:

version: 2.1

setup: true

parameters:
  run-shared:
    type: boolean
    default: false
  run-cms:
    type: boolean
    default: false
  run-landing:
    type: boolean
    default: false
  run-app:
    type: boolean
    default: false
  run-docs:
    type: boolean
    default: false
  run-contracts:
    type: boolean
    default: false

orbs:
  path-filtering: circleci/path-filtering@3.0.0
  circleci-cli: circleci/circleci-cli@0.1.9
  continuation: circleci/continuation@1.0.0

jobs:
  setup:
    executor: path-filtering/default
    steps:
      - checkout
      - circleci-cli/install
      - run:
          name: Generate shared configuration
          command: circleci config pack .circleci/shared >> .circleci/shared-config.yml
      - path-filtering/set-parameters:
          base-revision: << pipeline.git.base_revision >>
          mapping: |
            .* run-shared true .circleci/shared-config.yml
            (apps\/app|packages)\/.* run-app true .circleci/app/config.yml
            (apps\/cms|packages)\/.* run-cms true .circleci/cms/config.yml
            (apps\/landing|packages)\/.* run-landing true .circleci/landing/config.yml
            (apps\/docs|packages)\/.* run-docs true .circleci/docs/config.yml
            (apps\/contracts|packages\/eslint-config|packages\/typescript-config|packages\/graphql-client-nextjs)\/.* run-contracts true .circleci/contracts/config.yml
      - path-filtering/generate-config:
          default-config: .circleci/noop.yml
      - run:
          name: Validate config
          command: circleci config validate /tmp/generated-config.yml
      - continuation/continue:
          configuration_path: /tmp/generated-config.yml

workflows:
  setup:
    jobs:
      - setup

fix: run cms as shared package
  apps/cms/package.json
  apps/cms/src/access/isAdmin.ts
  apps/cms/src/access/isAdminOrSelf.ts
  apps/cms/src/access/publishedOnly.ts
  apps/cms/src/app/(payload)/admin/importMap.js
  apps/cms/src/blocks/BlogContent/index.ts
  apps/cms/src/blocks/BlogMarkdown/Field/index.scss
  apps/cms/src/blocks/BlogMarkdown/Field/index.tsx
  apps/cms/src/blocks/BlogMarkdown/Field/validate.ts
  apps/cms/src/blocks/BlogMarkdown/index.ts
  apps/cms/src/blocks/Code/index.ts
  apps/cms/src/collections/Categories.ts
  apps/cms/src/collections/Media.ts
  apps/cms/src/collections/Posts.ts
  apps/cms/src/collections/Users.ts
  apps/cms/src/fields/blockFields.ts
  apps/cms/src/fields/codeBlips.ts
  apps/cms/src/fields/link.ts
  apps/cms/src/fields/richText.ts
  apps/cms/src/fields/slug.ts
  apps/cms/src/hooks/revalidateRedirects.ts
  apps/cms/src/payload-types.ts
  apps/cms/src/payload.config.ts
  apps/cms/src/utilities/deepMerge.ts
  apps/cms/src/utilities/formatPagePath.ts
  apps/cms/src/utilities/formatPreviewURL.ts
  apps/cms/src/utilities/formatSlug.ts
  packages/payload/package.json
  packages/payload/src/blocks/BlogMarkdown/index.ts
  packages/payload/src/collections/Media.ts
  packages/payload/src/fields/codeBlips.ts
  pnpm-lock.yaml
Due: run-shared, run-app, run-cms, run-landing, run-docs

fix: package imports
  apps/cms/next-env.d.ts
  apps/cms/package.json
  apps/cms/playwright.config.ts
  apps/cms/test.env
  apps/cms/vitest.config.mts
  apps/cms/vitest.setup.ts
  packages/payload/package.json
  pnpm-lock.yaml
Due: run-shared, run-app, run-cms, run-landing, run-docs

fix: app build errors
  .npmrc
  apps/app/next-env.d.ts
  apps/app/next.config.ts
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: run-shared, run-app, run-cms, run-landing, run-docs, run-contracts

refactor: payload block import
  apps/app/package.json
  packages/payload/src/blocks/index.ts
  packages/payload/src/configurePayload.ts
  pnpm-lock.yaml
Due: run-shared, run-app, run-cms, run-landing, run-docs

feat: load blog content
  apps/landing/next-env.d.ts
  apps/landing/next.config.ts
  apps/landing/package.json
  apps/landing/src/app/blog/(categories)/[category]/page.tsx
  apps/landing/src/app/blog/(categories)/layout.tsx
  apps/landing/src/app/blog/(categories)/page.tsx
  apps/landing/src/app/blog/[tag]/page.tsx
  apps/landing/src/app/blog/layout.tsx
  apps/landing/src/app/blog/page.tsx
  apps/landing/src/app/blog/post/[slug]/page.tsx
  apps/landing/src/components/CmsProse/index.tsx
  apps/landing/src/features/Blog/FeaturedPost/index.tsx
  apps/landing/src/features/Blog/Hero/index.tsx
  apps/landing/src/features/Blog/List/EmptyCard.tsx
  apps/landing/src/features/Blog/List/index.tsx
  apps/landing/src/features/Blog/Post/index.tsx
  apps/landing/src/features/Blog/PostCard/index.tsx
  apps/landing/src/features/Blog/Tabs/index.tsx
  apps/landing/src/lib/cms/index.ts
  packages/payload/src/configurePayload.ts
  packages/ui/package.json
  packages/ui/src/components/index.ts
  packages/ui/src/components/mutuals/date-time.tsx
  packages/ui/src/components/mutuals/link.tsx
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: run-shared, run-app, run-cms, run-landing, run-docs

feat: configure bucket url
  apps/landing/next-env.d.ts
  apps/landing/src/features/Blog/PostCard/index.tsx
  packages/payload/src/configurePayload.ts
Due: run-shared, run-app, run-cms, run-landing, run-docs

fix: use global blob url
  packages/payload/src/configurePayload.ts
Due: run-shared, run-app, run-cms, run-landing, run-docs

feat: blog post details
  apps/landing/next-env.d.ts
  apps/landing/src/components/CmsProse/index.tsx
  apps/landing/src/features/Blog/Post/index.tsx
  apps/landing/src/features/Blog/PostCard/index.tsx
  apps/landing/src/features/Blog/PostImage/index.tsx
  apps/landing/src/features/Blog/PostMeta/index.tsx
  apps/landing/src/features/Shell/BlogPost/index.tsx
  packages/ui/src/components/ui/prose.tsx
Due: run-shared, run-app, run-cms, run-landing, run-docs

feat: avatar image
  apps/landing/next-env.d.ts
  apps/landing/src/features/Blog/Post/index.tsx
Due: run-shared, run-landing

feat: cms deps
  apps/cms/next-env.d.ts
  apps/cms/package.json
  apps/landing/src/features/Blog/Post/index.tsx
  packages/payload/src/configurePayload.ts
  pnpm-lock.yaml
Due: run-shared, run-app, run-cms, run-landing, run-docs

feat: blog post and og metadata
  apps/app/public/images/og-default.png
  apps/app/src/components/Breadcrumbs/BreadcrumbsInner.tsx
  apps/app/src/components/Breadcrumbs/index.tsx
  apps/app/src/features/Shell/Page/index.tsx
  apps/docs/public/images/og-default.png
  apps/landing/next-env.d.ts
  apps/landing/public/images/og-default.png
  apps/landing/public/images/scanline-light.png
  apps/landing/src/app/api/og/route.tsx
  apps/landing/src/app/blog/(categories)/[category]/page.tsx
  apps/landing/src/app/blog/post/[slug]/page.tsx
  apps/landing/src/features/Blog/Post/index.tsx
  apps/landing/src/lib/cms/index.ts
  packages/metadata-nextjs/src/icon.tsx
  packages/metadata-nextjs/src/index.ts
  packages/metadata-nextjs/src/metadata.ts
  packages/metadata-nextjs/src/opengraph.ts
  packages/ui/src/components/index.ts
  packages/ui/src/components/mutuals/breadcrumbs.tsx
  packages/ui/src/index.ts
  packages/ui/src/theme/font/index.ts
Due: run-shared, run-app, run-cms, run-landing, run-docs

fix: app build using webpack
  apps/app/next.config.ts
  apps/app/package.json
  apps/app/src/features/Shell/PoolOverview/Sidebar/index.tsx
  apps/app/src/features/Shell/PoolOverview/index.tsx
  packages/metadata-nextjs/src/metadata.ts
Due: run-shared, run-app, run-cms, run-landing, run-docs

build: upgrade deps
  apps/app/package.json
  apps/cms/package.json
  apps/contracts/package.json
  apps/docs/package.json
  apps/landing/package.json
  package.json
  packages/eslint-config/package.json
  packages/extensions/package.json
  packages/graphql-client-nextjs/package.json
  packages/ui/package.json
  packages/ui/src/components/mutuals/breadcrumbs.tsx
  pnpm-lock.yaml
Due: run-shared, run-app, run-cms, run-landing, run-docs, run-contracts

fix: cms revalidation onchange
  packages/payload/src/collections/Posts.ts
Due: run-shared, run-app, run-cms, run-landing, run-docs

feat: add ui theme
  apps/app/next-env.d.ts
  apps/app/src/features/PoolAdd/Form/index.tsx
  apps/app/src/features/PoolAdd/Panel/index.tsx
  apps/app/src/features/PoolAdd/Toolbar/index.tsx
  apps/docs/app/[[...mdxPath]]/page.tsx
  apps/docs/app/globals.css
  apps/docs/app/layout.tsx
  apps/docs/components/layout/header.tsx
  apps/docs/components/layout/sponsor-button.tsx
  apps/docs/components/layout/version-menu.tsx
  apps/docs/components/llms-copy-widget.tsx
  apps/docs/components/mdx/callout.tsx
  apps/docs/components/mdx/heading.tsx
  apps/docs/components/mdx/image.tsx
  apps/docs/components/mdx/index.ts
  apps/docs/components/mdx/list.tsx
  apps/docs/components/mdx/pre.tsx
  apps/docs/components/mdx/table.tsx
  apps/docs/components/page-header.tsx
  apps/docs/content/concepts/extensions.mdx
  apps/docs/content/index.mdx
  apps/docs/mdx-components.tsx
  apps/docs/package.json
  apps/docs/theme/footer.tsx
  apps/docs/theme/index.tsx
  apps/docs/theme/navbar.tsx
  apps/docs/theme/sidebar.tsx
  apps/docs/theme/sidenav.tsx
  apps/docs/theme/toc.tsx
  apps/docs/tsconfig.json
  packages/ui/src/components/index.ts
  packages/ui/src/components/mutuals/empty-state-card.tsx
  packages/ui/src/components/mutuals/footer-meta.tsx
  packages/ui/src/components/mutuals/link.tsx
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: run-shared, run-app, run-cms, run-landing, run-docs

fix: build type errors
  apps/docs/components/mdx/anchor.tsx
  apps/docs/components/mdx/callout.tsx
  apps/docs/components/mdx/image.tsx
  apps/docs/components/mdx/index.ts
  apps/docs/components/mdx/list.tsx
  apps/docs/mdx-components.tsx
  apps/docs/next-env.d.ts
  apps/docs/theme/toc.tsx
Due: run-shared, run-docs

fix: location temp removal
  apps/docs/components/llms-copy-widget.tsx
Due: run-shared, run-docs

fix: page link
  apps/docs/components/llms-copy-widget.tsx
Due: run-shared, run-docs

build: upgrade deps
  apps/app/package.json
  apps/cms/package.json
  apps/contracts/package.json
  apps/docs/package.json
  apps/landing/package.json
  package.json
  packages/analytics-nextjs/package.json
  packages/eslint-config/package.json
  packages/extensions/package.json
  packages/graphql-client-nextjs/package.json
  packages/metadata-nextjs/package.json
  packages/payload/package.json
  packages/sdk-react/package.json
  packages/sdk/package.json
  packages/ui/package.json
  packages/ui/src/theme/index.ts
  packages/ui/src/theme/recipes/link.ts
  pnpm-lock.yaml
Due: run-shared, run-app, run-cms, run-landing, run-docs, run-contracts

refactor: docs layout and wrapping
  apps/docs/app/[[...mdxPath]]/page.tsx
  apps/docs/app/layout.tsx
  apps/docs/app/manifest.ts
  apps/docs/components/edit-page-button.tsx
  apps/docs/components/layout/footer.tsx
  apps/docs/components/layout/header/index.tsx
  apps/docs/components/layout/header/sponsor-button.tsx
  apps/docs/components/layout/header/version-menu.tsx
  apps/docs/components/layout/navbar.tsx
  apps/docs/components/layout/sidebar.tsx
  apps/docs/components/llms-copy-widget.tsx
  apps/docs/components/mdx-pagination.tsx
  apps/docs/components/page-header.tsx
  apps/docs/components/page-wrapper.tsx
  apps/docs/components/pagination.tsx
  apps/docs/components/scroll-to-top-button.tsx
  apps/docs/components/toc.tsx
  apps/docs/content/extensions.mdx
  apps/docs/content/index.mdx
  apps/docs/mdx-components.tsx
  apps/docs/theme/index.tsx
  apps/docs/theme/sidenav.tsx
  apps/docs/theme/system.ts
Due: run-shared, run-docs

buid: use bun instead of pnpm
  .circleci/cms/config.yml
  .circleci/shared/commands/run-custom-command.yml
  .circleci/shared/commands/setup-bun.yml
  .circleci/shared/commands/setup-pnpm.yml
  .circleci/shared/jobs/deploy.yml
  .npmrc
  .vscode/settings.json
  README.md
  apps/app/package.json
  apps/cms/README.md
  apps/contracts/package.json
  apps/docs/components/llms-copy-widget.tsx
  apps/docs/next-env.d.ts
  bun.lock
  package.json
  packages/payload/package.json
  packages/payload/playwright.config.ts
  packages/ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: run-shared, run-app, run-cms, run-landing, run-docs, run-contracts

docs: subpages for support and development
  apps/docs/app/[[...mdxPath]]/page.tsx
  apps/docs/components/layout/header/index.tsx
  apps/docs/components/layout/sidebar.tsx
  apps/docs/components/llms-copy-widget.tsx
  apps/docs/components/mdx-pagination.tsx
  apps/docs/components/mdx/card.tsx
  apps/docs/components/page-header.tsx
  apps/docs/components/page-wrapper.tsx
  apps/docs/content/_meta.ts
  apps/docs/content/development/index.mdx
  apps/docs/content/docs/extensions.mdx
  apps/docs/content/docs/index.mdx
  apps/docs/content/index.mdx
  apps/docs/content/support/index.mdx
  apps/docs/context/config.tsx
  apps/docs/context/index.ts
  apps/docs/context/toc.tsx
  apps/docs/mdx-components.tsx
  apps/docs/theme/index.tsx
Due: run-shared, run-docs

docs: routing (wip)
  apps/docs/components/layout/header/index.tsx
  apps/docs/components/layout/header/sponsor-button.tsx
  apps/docs/components/layout/sidebar.tsx
  apps/docs/components/mdx/card.tsx
  apps/docs/content/_meta.ts
  apps/docs/content/_meta.tsx
  apps/docs/content/apis/overview/index.mdx
  apps/docs/content/concepts/_meta.tsx
  apps/docs/content/concepts/overview/_meta.tsx
  apps/docs/content/concepts/overview/extensions.mdx
  apps/docs/content/concepts/overview/index.mdx
  apps/docs/content/contracts/_meta.tsx
  apps/docs/content/contracts/overview/_meta.tsx
  apps/docs/content/contracts/overview/index.mdx
  apps/docs/content/index.mdx
  apps/docs/content/sdks/_meta.tsx
  apps/docs/content/sdks/overview/_meta.tsx
  apps/docs/content/sdks/overview/index.mdx
  apps/docs/content/support/_meta.tsx
  apps/docs/content/support/overview/_meta.tsx
  apps/docs/content/support/overview/index.mdx
  apps/docs/next-env.d.ts
  packages/ui/src/index.ts
Due: run-shared, run-app, run-cms, run-landing, run-docs

docs: index page links
  apps/docs/components/layout/header/index.tsx
  apps/docs/components/layout/sidebar.tsx
  apps/docs/content/apis/_meta.tsx
  apps/docs/content/apis/overview/_meta.tsx
  apps/docs/content/index.mdx
  apps/docs/next-env.d.ts
Due: run-shared, run-docs

docs: mobile theme and navigation
  apps/docs/app/_meta.global.tsx
  apps/docs/components/layout/header/index.tsx
  apps/docs/components/layout/navbar.tsx
  apps/docs/components/layout/sidebar.tsx
  apps/docs/components/page-header.tsx
  apps/docs/components/page-wrapper.tsx
  apps/docs/components/toc.tsx
  apps/docs/content/_meta.tsx
  apps/docs/content/apis/_meta.tsx
  apps/docs/content/apis/overview/_meta.tsx
  apps/docs/content/apis/overview/introduction/index.mdx
  apps/docs/content/apis/overview/introduction/quickstart.mdx
  apps/docs/content/concepts/_meta.tsx
  apps/docs/content/concepts/overview/_meta.tsx
  apps/docs/content/contracts/_meta.tsx
  apps/docs/content/contracts/guides/index.mdx
  apps/docs/content/contracts/overview/_meta.tsx
  apps/docs/content/contracts/overview/deployments.mdx
  apps/docs/content/contracts/overview/design-principles.mdx
  apps/docs/content/index.mdx
  apps/docs/content/sdks/_meta.tsx
  apps/docs/content/sdks/core/index.mdx
  apps/docs/content/sdks/overview/_meta.tsx
  apps/docs/content/sdks/overview/concepts.mdx
  apps/docs/content/sdks/react/index.mdx
  apps/docs/content/support/_meta.tsx
  apps/docs/content/support/faq/index.mdx
  apps/docs/content/support/guides/index.mdx
  apps/docs/content/support/overview/_meta.tsx
  apps/docs/content/support/overview/quickstart.mdx
Due: run-shared, run-docs

docs: concept and terms
  apps/docs/app/_meta.global.tsx
  apps/docs/components/layout/sidebar.tsx
  apps/docs/components/page-header.tsx
  apps/docs/content/apis/overview/getting-started/index.mdx
  apps/docs/content/apis/overview/getting-started/quickstart.mdx
  apps/docs/content/concepts/comparison/index.mdx
  apps/docs/content/concepts/comparison/web2/deel.mdx
  apps/docs/content/concepts/comparison/web2/index.mdx
  apps/docs/content/concepts/comparison/web3/index.mdx
  apps/docs/content/concepts/comparison/web3/sablier.mdx
  apps/docs/content/concepts/extensions/index.mdx
  apps/docs/content/concepts/overview/getting-started/example.mdx
  apps/docs/content/concepts/overview/getting-started/index.mdx
  apps/docs/content/concepts/overview/index.mdx
  apps/docs/content/concepts/overview/terminology/allocation-tree.mdx
  apps/docs/content/concepts/overview/terminology/allocation.mdx
  apps/docs/content/concepts/overview/terminology/extension.mdx
  apps/docs/content/concepts/overview/terminology/index.mdx
  apps/docs/content/concepts/overview/terminology/payment-pool.mdx
  apps/docs/content/concepts/overview/terminology/strategy.mdx
  apps/docs/content/sdks/overview/getting-started/concepts.mdx
  apps/docs/content/sdks/overview/getting-started/index.mdx
Due: run-shared, run-docs

build: change package management to pnpm
  .circleci/cms/config.yml
  .circleci/shared/commands/run-custom-command.yml
  .circleci/shared/commands/setup-bun.yml
  .circleci/shared/commands/setup-pnpm.yml
  .circleci/shared/jobs/deploy.yml
  .vscode/settings.json
  README.md
  apps/app/src/features/Pool/Card/Logo.tsx
  apps/app/src/features/Pool/Card/index.tsx
  apps/app/src/features/Pool/List/Content.tsx
  apps/app/src/features/Pool/List/index.tsx
  apps/app/src/features/PoolOverview/Description/index.tsx
  apps/app/src/features/Shell/Dashboard/Header/index.tsx
  apps/app/src/lib/split/index.ts
  apps/cms/README.md
  apps/contracts/package.json
  bun.lock
  package.json
  packages/payload/package.json
  packages/payload/playwright.config.ts
  packages/ui/package.json
  pnpm-workspace.yaml
Due: run-shared, run-app, run-cms, run-landing, run-docs, run-contracts

fix: details fetch disable
  apps/app/next-env.d.ts
  apps/app/src/app/(dashboard)/(home)/(pools)/layout.tsx
  apps/app/src/app/(dashboard)/pool/[id]/(overview)/layout.tsx
  apps/app/src/features/Activity/TableCard/index.tsx
  apps/app/src/features/Asset/TableCard/index.tsx
  apps/app/src/features/Claim/utils.ts
  apps/app/src/features/DashboardHome/Handlers/index.tsx
  apps/app/src/features/Pool/Card/Logo.tsx
  apps/app/src/features/PoolAdd/Form/index.tsx
  apps/app/src/features/PoolOverview/Description/index.tsx
  apps/app/src/features/Wallet/Card/index.tsx
  apps/app/src/features/Wallet/Form/Drawer.tsx
  apps/app/src/lib/ankr/fetchers.ts
  apps/app/src/lib/moralis/fetchers.ts
  apps/app/src/lib/split/index.ts
  apps/landing/next-env.d.ts
  apps/landing/src/features/Home/Hero/index.tsx
  packages/ui/src/theme/foundations/semantic-tokens.ts
Due: run-shared, run-app, run-cms, run-landing, run-docs

fix: build type for activity
  apps/app/next-env.d.ts
  apps/app/src/app/(dashboard)/pool/[id]/(pages)/activity/page.tsx
Due: run-shared, run-app

chore: use bun instead of pnpm
  .circleci/cms/config.yml
  .circleci/shared/commands/run-custom-command.yml
  .circleci/shared/commands/setup-bun.yml
  .circleci/shared/commands/setup-pnpm.yml
  .circleci/shared/jobs/deploy.yml
  .vscode/settings.json
  README.md
  apps/app/next-env.d.ts
  apps/cms/README.md
  apps/contracts/package.json
  bun.lock
  package.json
  packages/payload/package.json
  packages/payload/playwright.config.ts
  packages/ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: run-shared, run-app, run-cms, run-landing, run-docs, run-contracts

fix: remove import for deleted icon
  packages/metadata-nextjs/src/manifest.ts
Due: run-shared, run-app, run-cms, run-landing, run-docs

docs: init contribution guide
  CONTRIBUTING.md
Due: run-shared

docs: add updated readme content
  README.md
Due: run-shared

fix: payload dependency management
  apps/app/next-env.d.ts
  apps/cms/next-env.d.ts
  apps/cms/package.json
  apps/landing/next-env.d.ts
  apps/landing/package.json
  bun.lock
  package.json
  packages/payload/package.json
Due: run-shared, run-app, run-cms, run-landing, run-docs

refactor: remove next-env files from vsc
  apps/app/next-env.d.ts
  apps/cms/next-env.d.ts
  apps/docs/next-env.d.ts
  apps/landing/next-env.d.ts
Due: run-shared, run-app, run-cms, run-landing, run-docs

fix: ignore next-env files
  .gitignore
  .idea/mutuals.iml
  bun.lock
Due: run-shared

docs: slogan fix
  README.md
Due: run-shared

docs: change cms readme name
  apps/cms/README.md
Due: run-shared, run-cms
