Repository mutuals-finance/mutuals: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-shared, run-app, run-cms, run-landing, run-docs, run-contracts

feat: contact links and pricing icons
  apps/contracts/contracts/interfaces/IDistributionModule.sol
  apps/contracts/contracts/interfaces/IModule.sol
  apps/contracts/contracts/modules/distribution/DirectDistributionModule.sol
  apps/contracts/contracts/modules/distribution/PriorityDistributionModule.sol
  apps/contracts/contracts/modules/distribution/RemainderDistributionModule.sol
  apps/contracts/contracts/modules/distribution/VestingDistributionModule.sol
  apps/landing/src/features/Contact/Options/Card.tsx
  apps/landing/src/features/Contact/Options/index.tsx
  apps/landing/src/features/Contact/Options/items.tsx
  apps/landing/src/features/Pricing/Options/Card.tsx
Due: run-shared, run-landing, run-contracts

feat: newsletter subscription
  apps/app/src/features/Shell/Login/Provider.tsx
  apps/landing/.env.example
  apps/landing/package.json
  apps/landing/src/app/api/newsletter/subscribe/route.ts
  apps/landing/src/features/Layout/Footer/NewsletterForm.tsx
  apps/landing/src/features/Layout/Footer/index.tsx
  apps/landing/src/features/Layout/Footer/useNewsletterSubscription.ts
  apps/landing/src/lib/newsletter.ts
  bun.lock
  packages/analytics-nextjs/src/events.ts
  packages/analytics-nextjs/src/index.ts
  packages/ui/src/components/mutuals/form.tsx
Due: run-shared, run-app, run-cms, run-landing, run-docs

refactor: remove rounded buttons
  apps/landing/src/features/Blog/List/EmptyCard.tsx
  apps/landing/src/features/Home/Hero/index.tsx
  apps/landing/src/features/Home/Value/index.tsx
  apps/landing/src/features/Layout/CTA/index.tsx
  apps/landing/src/features/Layout/Footer/NewsletterForm.tsx
  apps/landing/src/features/Layout/Header/NavDesktop/index.tsx
  apps/landing/src/features/Layout/Header/NavMobile/Drawer.tsx
  apps/landing/src/features/Layout/useNewsletterSubscription.ts
  apps/landing/src/features/Pricing/Options/Card.tsx
Due: run-shared, run-landing

fix: remove deprecated event import
  apps/app/src/features/Shell/Login/Provider.tsx
Due: run-shared, run-app

fix: pricing faq attribute format
  apps/landing/src/features/Pricing/FAQ/index.tsx
Due: run-shared, run-landing

fix: blog route scroll restoration
  apps/landing/next.config.ts
  apps/landing/src/app/blog/(categories)/[category]/page.tsx
  apps/landing/src/app/blog/(categories)/page.tsx
  apps/landing/src/app/blog/[category]/page.tsx
  apps/landing/src/app/blog/layout.tsx
  apps/landing/src/app/blog/page.tsx
  apps/landing/src/app/blog/post/[slug]/page.tsx
  apps/landing/src/features/Blog/LayoutContent/index.tsx
  apps/landing/src/features/Blog/PostCard/index.tsx
  apps/landing/src/features/Layout/Footer/Footer.tsx
  apps/landing/src/features/Layout/links.tsx
Due: run-shared, run-landing

fix: build with cachedComps
  apps/landing/next.config.ts
  apps/landing/src/app/api/og/route.tsx
  apps/landing/src/app/manifest.ts
  apps/landing/src/features/Layout/Footer/CurrentYear.tsx
  apps/landing/src/features/Layout/Footer/Footer.tsx
Due: run-shared, run-landing

fix: remove unused og api route
  apps/landing/src/app/api/og/route.tsx
Due: run-shared, run-landing

fix: remove videoUrl case for og image dynamic gen
  apps/landing/src/app/blog/post/[slug]/page.tsx
Due: run-shared, run-landing

refactor: hero spacing and blog components
  apps/landing/src/features/Blog/PostCard/index.tsx
  apps/landing/src/features/Home/Hero/index.tsx
  packages/ui/src/components/mutuals/router-tabs.tsx
  packages/ui/src/theme/recipes/button.ts
Due: run-shared, run-app, run-cms, run-landing, run-docs

feat: blog related posts and meta
  apps/landing/src/features/Blog/LayoutContent/index.tsx
  apps/landing/src/features/Blog/List/Carousel.tsx
  apps/landing/src/features/Blog/List/Grid.tsx
  apps/landing/src/features/Blog/List/Root.tsx
  apps/landing/src/features/Blog/List/index.tsx
  apps/landing/src/features/Blog/Post/index.tsx
  apps/landing/src/features/Blog/PostCard/index.tsx
Due: run-shared, run-landing

fix: carousel prop errors
  apps/landing/src/features/Blog/List/Carousel.tsx
  apps/landing/src/features/Blog/Post/index.tsx
Due: run-shared, run-landing

refactor: blog post props pass
  apps/landing/src/features/Blog/List/Carousel.tsx
  apps/landing/src/features/Blog/PostCard/index.tsx
Due: run-shared, run-landing

refactor: blog post separator positioning
  apps/landing/src/features/Blog/Post/index.tsx
Due: run-shared, run-landing

feat: related post bleed
  apps/landing/src/features/Blog/List/Carousel.tsx
  apps/landing/src/features/Blog/Post/index.tsx
Due: run-shared, run-landing

fix: related post rendering condition
  apps/landing/src/features/Blog/Post/index.tsx
Due: run-shared, run-landing

refactor: related post bleed padding
  apps/landing/src/features/Blog/List/Carousel.tsx
Due: run-shared, run-landing

fix: select export ambiguity
  packages/ui/src/components/index.ts
  packages/ui/src/components/ui/select.tsx
Due: run-shared, run-app, run-cms, run-landing, run-docs

feat: demo pool mock
  apps/app/next.config.ts
  apps/app/package.json
  apps/app/public/mockServiceWorker.js
  apps/app/src/app/(dashboard)/pool/[id]/(overview)/layout.tsx
  apps/app/src/features/Pool/List/EmptyState.tsx
  apps/app/src/features/Shell/PoolOverview/Sidebar/index.tsx
  bun.lock
  packages/graphql-client-nextjs/package.json
  packages/graphql-client-nextjs/src/components/apollo-provider.tsx
  packages/graphql-client-nextjs/src/components/index.ts
  packages/graphql-client-nextjs/src/components/mock-provider.tsx
  packages/graphql-client-nextjs/src/mocks/client.ts
  packages/graphql-client-nextjs/src/mocks/handlers.ts
  packages/graphql-client-nextjs/src/mocks/index.ts
  packages/graphql-client-nextjs/src/mocks/init-client.ts
  packages/graphql-client-nextjs/src/mocks/init-server.ts
  packages/graphql-client-nextjs/src/mocks/server.ts
  packages/graphql-client-nextjs/src/server/client.ts
  packages/graphql-client-nextjs/src/utils.ts
  packages/ui/src/components/mutuals/empty-state-card.tsx
  packages/ui/src/theme/slot-recipes/empty-state.ts
  packages/ui/src/theme/slot-recipes/index.ts
Due: run-shared, run-app, run-cms, run-landing, run-docs, run-contracts

refactor: remove fragment masking and update gql schema
  apps/app/src/app/(dashboard)/pool/[id]/(overview)/layout.tsx
  apps/app/src/app/(dashboard)/pool/[id]/(pages)/settings/layout.tsx
  apps/app/src/app/(dashboard)/pool/[id]/(pages)/settings/page.tsx
  apps/app/src/app/(dashboard)/pool/[id]/layout.tsx
  apps/app/src/features/Pool/List/Content.tsx
  apps/app/src/features/Pool/List/index.tsx
  apps/app/src/features/PoolOverview/Description/index.tsx
  apps/app/src/features/PoolOverview/Handlers/index.tsx
  apps/app/src/features/Shell/Pool/index.tsx
  packages/graphql-client-nextjs/src/client/queries.ts
  packages/graphql-client-nextjs/src/components/base/query-renderer.tsx
  packages/graphql-client-nextjs/src/graphql/codegen.ts
  packages/graphql-client-nextjs/src/graphql/data/__generated__/fragment-masking.ts
  packages/graphql-client-nextjs/src/graphql/data/__generated__/gql.ts
  packages/graphql-client-nextjs/src/graphql/data/__generated__/graphql.ts
  packages/graphql-client-nextjs/src/graphql/data/__generated__/index.ts
  packages/graphql-client-nextjs/src/graphql/data/fragments.ts
  packages/graphql-client-nextjs/src/graphql/data/mutations.ts
  packages/graphql-client-nextjs/src/graphql/data/queries.ts
  packages/graphql-client-nextjs/src/mocks/handlers.ts
  packages/graphql-client-nextjs/src/server/fetchers.ts
  packages/graphql-client-nextjs/src/server/mutations.ts
Due: run-shared, run-app, run-cms, run-landing, run-docs, run-contracts

feat: demo pool with mock assets
  apps/app/next.config.ts
  apps/app/src/app/(dashboard)/pool/[id]/(overview)/layout.tsx
  apps/app/src/features/Asset/Card/Image.tsx
  apps/app/src/features/Asset/Table/BalanceCell.tsx
  apps/app/src/features/Asset/Table/IconCell.tsx
  apps/app/src/features/Asset/Table/ValueCell.tsx
  apps/app/src/features/Asset/Table/index.tsx
  apps/app/src/features/Asset/TableCard/index.tsx
  apps/app/src/features/Asset/types.ts
  apps/app/src/features/Pool/Card/Logo.tsx
  packages/graphql-client-nextjs/QUERIES_AND_MUTATIONS.md
  packages/graphql-client-nextjs/src/graphql/data/__generated__/gql.ts
  packages/graphql-client-nextjs/src/graphql/data/__generated__/graphql.ts
  packages/graphql-client-nextjs/src/graphql/data/queries.ts
  packages/graphql-client-nextjs/src/mocks/handlers.ts
  packages/graphql-client-nextjs/src/server/fetchers.ts
Due: run-shared, run-app, run-cms, run-landing, run-docs, run-contracts

fix: remove unused md
  packages/graphql-client-nextjs/QUERIES_AND_MUTATIONS.md
Due: run-shared, run-app, run-cms, run-landing, run-docs, run-contracts

fix: asset table memo and build errors
  apps/app/src/app/(dashboard)/pool/[id]/(overview)/withdraw/page.tsx
  apps/app/src/app/(dashboard)/pool/[id]/(pages)/assets/page.tsx
  apps/app/src/features/Asset/Table/index.tsx
  apps/app/src/features/Pool/Card/index.tsx
  apps/app/src/features/PoolAction/Deposit/index.tsx
  apps/app/src/features/PoolAction/Withdraw/Form/Content.tsx
  apps/app/src/features/PoolAction/Withdraw/Form/SummaryTable.tsx
  apps/app/src/features/PoolAction/Withdraw/Form/WithdrawTable.tsx
  apps/app/src/features/PoolAction/Withdraw/Form/index.tsx
  apps/app/src/features/PoolAction/Withdraw/index.tsx
  apps/app/src/features/Shell/Pool/index.tsx
  apps/app/src/lib/split/index.ts
  packages/graphql-client-nextjs/src/components/base/index.ts
  packages/graphql-client-nextjs/src/components/base/list-content.tsx
  packages/graphql-client-nextjs/src/components/base/query-list-renderer.tsx
Due: run-shared, run-app, run-cms, run-landing, run-docs, run-contracts

fix: withdraw sidebar display
  apps/app/src/features/PoolAction/Withdraw/Form/index.tsx
Due: run-shared, run-app

refactor: drawer rounding
  apps/app/src/app/(dashboard)/(home)/(pools)/layout.tsx
  apps/app/src/features/DashboardHome/Balance/Chart.tsx
  apps/app/src/features/DashboardHome/Handlers/index.tsx
  apps/app/src/features/Wallet/Form/Drawer.tsx
Due: run-shared, run-app

refactor: pool overview stats display
  apps/app/src/features/Asset/TableCard/index.tsx
  apps/app/src/features/PoolOverview/Description/index.tsx
Due: run-shared, run-app

refactor: breadcrumb display items and pool action drawer
  apps/app/src/features/Asset/Card/Image.tsx
  apps/app/src/features/DashboardHome/Handlers/index.tsx
  apps/app/src/features/Pool/Card/Logo.tsx
  apps/app/src/features/PoolAction/Deposit/index.tsx
  apps/app/src/features/PoolAction/Withdraw/Form/Content.tsx
  apps/app/src/features/PoolAction/Withdraw/Form/SummaryTable.tsx
  apps/app/src/features/PoolAction/Withdraw/Form/index.tsx
  apps/app/src/features/PoolAction/Withdraw/index.tsx
  apps/app/src/features/PoolOverview/Handlers/index.tsx
  apps/app/src/features/Shell/Pool/index.tsx
  apps/app/src/features/Shell/PoolOverview/Sidebar/Mobile.tsx
  apps/app/src/lib/split/fetchers.ts
  apps/app/src/lib/split/hooks.ts
  apps/app/src/lib/split/index.ts
  packages/graphql-client-nextjs/src/mocks/handlers.ts
  packages/ui/src/components/mutuals/breadcrumbs.tsx
  packages/ui/src/components/mutuals/icon-text-button.tsx
  packages/ui/src/components/ui/breadcrumb.tsx
  packages/ui/src/components/ui/drawer.tsx
  packages/ui/src/theme/recipes/link.ts
  packages/ui/src/theme/slot-recipes/avatar.ts
  packages/ui/src/theme/slot-recipes/breadcrumb.ts
Due: run-shared, run-app, run-cms, run-landing, run-docs, run-contracts

feat: activity pool mock
  apps/app/src/app/(dashboard)/pool/[id]/(overview)/layout.tsx
  apps/app/src/app/(dashboard)/pool/[id]/(pages)/activity/page.tsx
  apps/app/src/app/(dashboard)/pool/[id]/(pages)/assets/page.tsx
  apps/app/src/app/(dashboard)/pool/[id]/(pages)/layout.tsx
  apps/app/src/components/Date/index.tsx
  apps/app/src/features/Activity/Table/cells/AddressCell.tsx
  apps/app/src/features/Activity/Table/cells/AmountCell.tsx
  apps/app/src/features/Activity/Table/cells/EventDescriptionCell.tsx
  apps/app/src/features/Activity/Table/cells/EventIconCell.tsx
  apps/app/src/features/Activity/Table/index.tsx
  apps/app/src/features/Activity/TableCard/index.tsx
  apps/app/src/features/Activity/types.ts
  apps/app/src/features/Shell/Page/index.tsx
  packages/graphql-client-nextjs/src/graphql/data/__generated__/gql.ts
  packages/graphql-client-nextjs/src/graphql/data/__generated__/graphql.ts
  packages/graphql-client-nextjs/src/graphql/data/fragments.ts
  packages/graphql-client-nextjs/src/graphql/data/queries.ts
  packages/graphql-client-nextjs/src/mocks/handlers.ts
  packages/graphql-client-nextjs/src/server/fetchers.ts
Due: run-shared, run-app, run-cms, run-landing, run-docs, run-contracts

fix: remove unused activity hook
  apps/app/src/features/Activity/useActivityEvent.ts
Due: run-shared, run-app

feat: add landing pool demo link
  apps/landing/src/features/Home/Value/index.tsx
Due: run-shared, run-landing

feat: demo cta
  apps/landing/src/app/page.tsx
  apps/landing/src/assets/demo.png
  apps/landing/src/features/Home/DemoCTA/index.tsx
  apps/landing/src/features/Home/Hero/index.tsx
  apps/landing/src/features/Home/Value/index.tsx
Due: run-shared, run-landing

build: eslint usage migration
  apps/app/package.json
  apps/app/src/utils/format.ts
  apps/cms/package.json
  apps/contracts/.eslintignore
  apps/contracts/.eslintrc.js
  apps/contracts/.prettierignore
  apps/contracts/.prettierrc.js
  apps/contracts/package.json
  apps/docs/package.json
  apps/landing/package.json
  bun.lock
  package.json
  packages/graphql-client-nextjs/package.json
  packages/metadata-nextjs/package.json
  packages/modules/package.json
  packages/payload/package.json
  packages/payload/src/hooks/index.ts
  packages/sdk-react/package.json
  packages/sdk/package.json
  packages/ui/package.json
  turbo/generators/config.ts
  turbo/generators/templates/component.hbs
Due: run-shared, run-app, run-cms, run-landing, run-docs, run-contracts

ci: apply check command
  .circleci/app/config.yml
  .circleci/cms/config.yml
  .circleci/config.yml
  .circleci/contracts/config.yml
  .circleci/docs/config.yml
  .circleci/landing/config.yml
  .circleci/shared/jobs/check.yml
  .circleci/shared/jobs/lint.yml
Due: run-shared

build: run install
  bun.lock
Due: run-shared

refactor: cleanup unused error
  packages/sdk/src/errors.ts
Due: run-shared, run-app, run-cms, run-landing, run-docs

Path conditions:
  run-shared: any of: .*
  run-app: any of: (apps\/app|packages)\/.*
  run-cms: any of: (apps\/cms|packages)\/.*
  run-landing: any of: (apps\/landing|packages)\/.*
  run-docs: any of: (apps\/docs|packages)\/.*
  run-contracts: any of: (apps\/contracts|packages\/eslint-config|packages\/typescript-config|packages\/graphql-client-nextjs)\/.*
