Repository mutuals-finance/mutuals: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-shared, run-app, run-landing, run-docs, run-contracts

.circleci/config.yml:

version: 2.1

setup: true

parameters:
  run-shared:
    type: boolean
    default: false
  run-landing:
    type: boolean
    default: false
  run-app:
    type: boolean
    default: false
  run-docs:
    type: boolean
    default: false
  run-contracts:
    type: boolean
    default: false

orbs:
  path-filtering: circleci/path-filtering@2.0.0
  circleci-cli: circleci/circleci-cli@0.1.9
  continuation: circleci/continuation@1.0.0

jobs:
  setup:
    executor: path-filtering/default
    steps:
      - checkout
      - circleci-cli/install
      - run:
          name: Generate shared configuration
          command: circleci config pack .circleci/shared >> .circleci/shared-config.yml
      - path-filtering/set-parameters:
          base-revision: << pipeline.git.branch >>
          mapping: |
            .* run-shared true .circleci/shared-config.yml
            (?!apps\/|packages\/).* run-shared true .circleci/noop.yml
            (apps\/app|packages)\/.* run-app true .circleci/app/config.yml
            (apps\/landing|packages)\/.* run-landing true .circleci/landing/config.yml
            (apps\/app|packages)\/.* run-docs true .circleci/docs/config.yml
            (apps\/contracts|packages\/eslint-config|packages\/typescript-config|packages\/graphql-client-nextjs)\/.* run-contracts true .circleci/contracts/config.yml
      - path-filtering/generate-config
      - run:
          name: Validate config
          command: circleci config validate /tmp/generated-config.yml
      - continuation/continue:
          configuration_path: /tmp/generated-config.yml

workflows:
  setup:
    jobs:
      - setup

fix: mobile sign in layout
  apps/app/src/app/auth/login/email/page.tsx
  apps/app/src/app/auth/login/page.tsx
  apps/app/src/components/RouterTabs/index.tsx
  apps/app/src/features/Shell/Login/index.tsx
  apps/app/src/features/Wallet/Selection/Wrapper.tsx
Due: run-shared, run-app, run-docs

fix: reduce webpack cache size
  apps/app/next.config.ts
  apps/landing/next.config.ts
  apps/landing/src/features/Home/Hero/ImageSlider.tsx
  apps/landing/src/features/Home/Hero/index.tsx
  turbo.json
Due: run-shared, run-app, run-landing, run-docs

feat: use treeview component (wip)
  apps/app/src/features/Allocation/FormTree/Combobox.tsx
  apps/app/src/features/Allocation/FormTree/index.tsx
  apps/app/src/features/PoolAdd/Form/index.tsx
Due: run-shared, run-app, run-docs

fix: react hook form claim tree
  apps/app/src/features/Allocation/FormTree/Combobox.tsx
  apps/app/src/features/Allocation/FormTree/Node.tsx
  apps/app/src/features/Allocation/FormTree/index.tsx
  apps/app/src/features/Allocation/types.ts
  apps/app/src/features/PoolAdd/Form/index.tsx
  apps/app/src/features/PoolAdd/types.ts
  packages/ui/src/index.ts
Due: run-shared, run-app, run-landing, run-docs

fix: select state
  apps/app/src/features/Allocation/FormTree/Combobox.tsx
  apps/app/src/features/Allocation/FormTree/Node.tsx
  packages/ui/src/components/mutuals/input.tsx
Due: run-shared, run-app, run-landing, run-docs

feat: allocation table overflow
  apps/app/src/features/Allocation/FormTree/Combobox.tsx
  apps/app/src/features/Allocation/FormTree/Node.tsx
  apps/app/src/features/Allocation/FormTree/index.tsx
  apps/app/src/features/PoolAdd/Form/index.tsx
Due: run-shared, run-app, run-docs

fix: build
  apps/app/src/features/Allocation/FormTable/Row.tsx
Due: run-shared, run-app, run-docs

refactor: allocation input size
  apps/app/src/features/Allocation/FormTree/Node.tsx
Due: run-shared, run-app, run-docs

feat: extension ui
  apps/app/src/features/Allocation/FormTable/Row.tsx
  apps/app/src/features/Allocation/FormTree/Node.tsx
  apps/app/src/features/Allocation/FormTree/Select.tsx
  apps/app/src/features/Allocation/FormTree/index.tsx
  apps/app/src/features/Allocation/types.ts
  apps/app/src/features/PoolAdd/Form/index.tsx
  apps/app/src/features/PoolAdd/Modal/index.tsx
  apps/app/src/features/PoolAdd/Modal/steps/ReviewStep.tsx
  apps/app/src/features/PoolAdd/types.ts
  packages/sdk-react/package.json
  packages/sdk-react/src/components/extensions/default-allocation-input.tsx
  packages/sdk-react/src/components/extensions/priority-gating-input.tsx
  packages/sdk-react/src/components/extensions/timelock-allocation-input.tsx
  packages/sdk-react/src/components/extensions/token-allocation-input.tsx
  packages/sdk-react/src/components/extensions/token-gating-input.tsx
  packages/sdk-react/src/components/token-address-input.tsx
  packages/sdk-react/src/components/value-input.tsx
  packages/sdk-react/src/extensions.ts
  packages/sdk-react/src/index.ts
  packages/sdk-react/src/types.ts
  packages/sdk/src/constants/abi/defaultAllocationAbi.ts
  packages/sdk/src/constants/abi/index.ts
  packages/sdk/src/constants/allocation.ts
  packages/sdk/src/index.ts
  packages/sdk/src/types.ts
  packages/sdk/src/utils/allocation.ts
  packages/ui/package.json
  packages/ui/src/components/mutuals/input.tsx
  packages/ui/src/components/ui/select.tsx
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: run-shared, run-app, run-landing, run-docs

fix: build types
  apps/app/src/features/Allocation/FormTable/Control.tsx
  apps/app/src/features/Allocation/FormTable/Row.tsx
  apps/app/src/features/Allocation/FormTable/index.tsx
  apps/app/src/features/Allocation/Menu/index.tsx
  apps/app/src/features/Allocation/useAllocationGroup.ts
  apps/app/src/features/PoolAdd/AllocationInput/index.tsx
  packages/ui/src/components/mutuals/file-upload.tsx
  packages/ui/src/components/mutuals/input.tsx
Due: run-shared, run-app, run-landing, run-docs

feat: scroll area for iconlist
  apps/app/src/app/(dashboard)/(home)/layout.tsx
  apps/app/src/features/PoolAdd/Form/Claims.tsx
  apps/app/src/features/PoolAdd/Form/Info.tsx
  apps/app/src/features/PoolAdd/Form/index.tsx
  apps/app/src/features/Shell/IconButtonList/index.tsx
  apps/app/src/features/Wallet/Selection/Wrapper.tsx
Due: run-shared, run-app, run-docs

refactor: unused scrollarea comment
  apps/app/src/features/Shell/IconButtonList/index.tsx
Due: run-shared, run-app, run-docs

fix: mobile navbar color change
  apps/landing/public/hero-mobile.mp4
  apps/landing/public/hero-poster.jpg
  apps/landing/src/app/pricing/page.tsx
  apps/landing/src/assets/pricing/project-owners.webp
  apps/landing/src/assets/pricing/stakeholders.webp
  apps/landing/src/features/Contact/Options/index.tsx
  apps/landing/src/features/Home/Hero/index.tsx
  apps/landing/src/features/Home/Value/ValueCard.tsx
  apps/landing/src/features/Home/Value/index.tsx
  apps/landing/src/features/Layout/Header/ContainerWrapper/index.tsx
  apps/landing/src/features/Layout/Header/NavMobile/Drawer.tsx
  apps/landing/src/features/Pricing/Actors/Card.tsx
  apps/landing/src/features/Pricing/Actors/index.tsx
  apps/landing/src/features/Pricing/FAQ/index.tsx
  apps/landing/src/features/Pricing/Options/index.tsx
  apps/landing/src/features/Shell/PageHeader/index.tsx
  apps/landing/src/providers/HeaderObserver/index.tsx
  packages/metadata-nextjs/src/icon.tsx
  packages/metadata-nextjs/src/manifest.ts
  packages/metadata-nextjs/src/metadata.ts
Due: run-shared, run-app, run-landing, run-docs

fix: viewport metadata
  apps/app/src/app/layout.tsx
  apps/landing/src/app/layout.tsx
  packages/metadata-nextjs/src/index.ts
  packages/metadata-nextjs/src/viewport.ts
Due: run-shared, run-app, run-landing, run-docs

fix: meta icon sizes
  packages/metadata-nextjs/src/icon.tsx
Due: run-shared, run-app, run-landing, run-docs

feat: pageheader tag
  apps/landing/src/app/pricing/page.tsx
  apps/landing/src/components/ThemeWrapper/index.tsx
  apps/landing/src/features/Home/Hero/index.tsx
  apps/landing/src/features/Pricing/Actors/Card.tsx
  apps/landing/src/features/Pricing/Actors/index.tsx
  apps/landing/src/features/Shell/PageHeader/index.tsx
  packages/metadata-nextjs/src/icon.tsx
Due: run-shared, run-app, run-landing, run-docs

feat: scroll animations
  apps/landing/src/app/contact/page.tsx
  apps/landing/src/app/pricing/page.tsx
  apps/landing/src/components/MotionBoxWrapper/index.tsx
  apps/landing/src/features/Contact/Options/index.tsx
  apps/landing/src/features/Home/Actors/index.tsx
  apps/landing/src/features/Home/Features/FeatureCard.tsx
  apps/landing/src/features/Home/Features/index.tsx
  apps/landing/src/features/Home/Hero/index.tsx
  apps/landing/src/features/Home/Value/index.tsx
  apps/landing/src/features/Pricing/Options/index.tsx
  apps/landing/src/features/Shell/PageHeader/index.tsx
  apps/landing/src/providers/FramerMotion/index.tsx
  apps/landing/src/providers/index.tsx
  packages/ui/src/components/mutuals/motion.tsx
  packages/ui/src/index.ts
Due: run-shared, run-app, run-landing, run-docs

fix: actor mobile viewport
  apps/landing/src/components/MotionBoxWrapper/index.tsx
  apps/landing/src/features/Home/Actors/Card.tsx
  apps/landing/src/features/Home/Actors/index.tsx
Due: run-shared, run-landing

feat: actors cards
  apps/landing/src/components/MotionBoxWrapper/index.tsx
  apps/landing/src/features/Home/Actors/Card.tsx
  apps/landing/src/features/Home/Actors/index.tsx
  apps/landing/src/features/Home/Hero/index.tsx
Due: run-shared, run-landing

fix: transition typing
  apps/landing/src/features/Home/Actors/Card.tsx
  apps/landing/src/features/Home/Value/index.tsx
  apps/landing/src/features/Layout/CTA/index.tsx
Due: run-shared, run-landing

fix: pwa icon
  packages/metadata-nextjs/src/icon.tsx
  packages/metadata-nextjs/src/manifest.ts
Due: run-shared, run-app, run-landing, run-docs

refactor: cleanup deprecated payments feature
  apps/landing/src/features/Home/Payments/index.tsx
  apps/landing/src/features/Home/Payments/items.ts
Due: run-shared, run-landing

refactor: pool add steps form
  apps/app/src/app/(dashboard)/pool/new/page.tsx
  apps/app/src/app/icon.tsx
  apps/app/src/features/PoolAdd/Claims/index.tsx
  apps/app/src/features/PoolAdd/Form/Claims.tsx
  apps/app/src/features/PoolAdd/Form/index.tsx
  apps/app/src/features/PoolAdd/Info/index.tsx
  apps/app/src/features/PoolAdd/Panel/index.tsx
  apps/app/src/features/PoolAdd/items.tsx
  packages/metadata-nextjs/src/icon.tsx
Due: run-shared, run-app, run-landing, run-docs

feat: pwa icon background
  apps/app/src/app/apple-icon.tsx
  apps/landing/src/app/apple-icon.tsx
  apps/landing/src/app/icon.tsx
Due: run-shared, run-app, run-landing, run-docs

fix: ignore copilot plugin files
  .gitignore
Due: run-shared

refator: pool claims add form
  apps/app/src/features/Claim/Provider/index.tsx
  apps/app/src/features/Claim/Tree/NodeContent.tsx
  apps/app/src/features/Claim/Tree/NodeRoot.tsx
  apps/app/src/features/Claim/Tree/index.tsx
  apps/app/src/features/Claim/types.ts
  apps/app/src/features/Claim/useClaimNodeId.tsx
  apps/app/src/features/Claim/useClaimTree.ts
  apps/app/src/features/Claim/utils.ts
  apps/app/src/features/PoolAdd/Form/index.tsx
  apps/app/src/features/PoolAdd/Panel/index.tsx
  apps/app/src/features/PoolAdd/items.tsx
  apps/app/src/features/PoolAdd/steps.tsx
  packages/extensions/src/components/token-address-input/index.tsx
  packages/extensions/src/components/value-input/Select.tsx
  packages/extensions/src/components/value-input/index.tsx
  packages/extensions/src/components/value-input/transform.ts
  packages/extensions/src/strategy/default-allocation/input.tsx
  packages/extensions/src/strategy/priority-gating/input.tsx
  packages/extensions/src/strategy/timelock-allocation/input.tsx
  packages/extensions/src/strategy/token-allocation/input.tsx
  packages/extensions/src/strategy/token-gating/input.tsx
  packages/extensions/src/types.ts
Due: run-shared, run-app, run-landing, run-docs

fix: wallet login description color
  apps/app/src/features/Wallet/Selection/Wrapper.tsx
  pnpm-lock.yaml
Due: run-shared, run-app, run-docs

fix: icon sizes
  packages/metadata-nextjs/src/icon.tsx
  packages/sdk-react/package.json
  pnpm-lock.yaml
Due: run-shared, run-app, run-landing, run-docs

fix: user wallet avatar
  apps/app/src/features/Shell/Dashboard/Header/User.tsx
  apps/app/src/features/Wallet/Avatar/index.tsx
  packages/ui/src/components/ui/avatar.tsx
  packages/ui/src/index.ts
  packages/ui/src/theme/slot-recipes/avatar.ts
  packages/ui/src/theme/slot-recipes/index.ts
Due: run-shared, run-app, run-landing, run-docs

feat: pool creation settings
  apps/app/src/features/PoolAdd/Form/ResetButton.tsx
  apps/app/src/features/PoolAdd/Form/SettingsButton.tsx
  apps/app/src/features/PoolAdd/Form/index.tsx
  apps/app/src/features/Wallet/List/Content.tsx
  packages/ui/src/components/mutuals/input.tsx
  packages/ui/src/components/ui/dialog.tsx
  packages/ui/src/components/ui/popover.tsx
  packages/ui/src/index.ts
Due: run-shared, run-app, run-landing, run-docs

feat: bg pageheader in main
  apps/landing/src/assets/radial.png
  apps/landing/src/components/MotionBoxWrapper/index.tsx
  apps/landing/src/features/Home/Hero/PaymentTabs.tsx
  apps/landing/src/features/Home/Hero/index.tsx
  apps/landing/src/features/Layout/Header/NavDesktop/index.tsx
  apps/landing/src/features/Layout/Header/NavMobile/MenuButton.tsx
  apps/landing/src/features/Layout/Main/RadialBg.tsx
  apps/landing/src/features/Layout/Main/index.tsx
  apps/landing/src/providers/FramerMotion/index.tsx
  packages/metadata-nextjs/src/icon.tsx
Due: run-shared, run-app, run-landing, run-docs

fix: layout footer target
  apps/landing/src/features/Layout/Footer/index.tsx
Due: run-shared, run-landing
