Repository mutuals-finance/mutuals: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-shared, run-app, run-cms, run-landing, run-docs, run-contracts

ci: change workspace for deployment
  .circleci/cms/config.yml
  apps/cms/README.md
Due: run-shared, run-cms

docs: unify apps readme descriptions
  apps/app/README.md
  apps/contracts/README.md
  apps/docs/README.md
  apps/landing/README.md
Due: run-shared, run-app, run-landing, run-docs, run-contracts

docs: change cms readme name
  apps/cms/README.md
Due: run-shared, run-cms

docs: unify package readme description if exists
  packages/eslint-config/README.md
Due: run-shared, run-app, run-cms, run-landing, run-docs, run-contracts

ci: fix cache key name lockfile
  .circleci/shared/commands/setup-bun.yml
Due: run-shared

refactor: hero content
  apps/landing/src/features/Home/Hero/index.tsx
  apps/landing/src/features/Home/Value/ValueCard.tsx
  apps/landing/src/features/Home/Value/index.tsx
  apps/landing/src/features/Layout/Header/NavDesktop/index.tsx
  apps/landing/src/features/Layout/Header/NavLink.tsx
  apps/landing/src/features/Layout/Header/NavMobile/Drawer.tsx
  apps/landing/src/features/Shell/PageHeader/index.tsx
  packages/ui/src/components/ui/prose.tsx
  packages/ui/src/theme/foundations/colors.ts
  packages/ui/src/theme/foundations/semantic-tokens.ts
  packages/ui/src/theme/recipes/button.ts
Due: run-shared, run-app, run-cms, run-landing, run-docs

fix: button theme type
  packages/ui/src/theme/recipes/button.ts
Due: run-shared, run-app, run-cms, run-landing, run-docs

ci: selected environment on cms deploy
  .circleci/cms/config.yml
Due: run-shared

refactor: badge styling and radii
  apps/landing/src/features/Blog/Post/index.tsx
  apps/landing/src/features/Blog/PostMeta/index.tsx
  apps/landing/src/features/Contact/Options/items.tsx
  apps/landing/src/features/Shell/BlogPost/index.tsx
  apps/landing/src/features/Shell/PageHeader/index.tsx
  packages/ui/src/theme/foundations/semantic-tokens.ts
  packages/ui/src/theme/recipes/button.ts
Due: run-shared, run-app, run-cms, run-landing, run-docs

refactor: og image
  apps/cms/public/images/og-default.png
  apps/docs/public/images/og-default.png
  apps/landing/public/images/og-default.png
Due: run-shared, run-cms, run-landing, run-docs

docs: add funds diagram
  apps/docs/app/_meta.global.tsx
  apps/docs/components/layout/header/index.tsx
  apps/docs/components/mdx/card.tsx
  apps/docs/content/concepts/overview/liquidity-model/flow-of-funds.mdx
  apps/docs/content/index.mdx
  packages/graphql-client-nextjs/eslint.config.js
  packages/graphql-client-nextjs/src/components/index.ts
  packages/graphql-client-nextjs/src/providers/ApolloProvider/index.tsx
Due: run-shared, run-app, run-cms, run-landing, run-docs, run-contracts

refactor: blog components layout and styling
  apps/landing/src/app/blog/(categories)/layout.tsx
  apps/landing/src/app/blog/(categories)/page.tsx
  apps/landing/src/app/blog/layout.tsx
  apps/landing/src/features/Blog/Post/index.tsx
  apps/landing/src/features/Blog/PostCard/index.tsx
  apps/landing/src/features/Blog/PostImage/index.tsx
  apps/landing/src/features/Blog/PostMeta/index.tsx
  apps/landing/src/features/Shell/PageHeader/index.tsx
Due: run-shared, run-landing

feat: revalidate on post change
  packages/payload/src/collections/Posts.ts
  packages/payload/src/hooks/revalidate-path.ts
  packages/payload/src/hooks/revalidate-redirects.ts
Due: run-shared, run-app, run-cms, run-landing, run-docs

fix: revalidate import
  packages/payload/src/configurePayload.ts
Due: run-shared, run-app, run-cms, run-landing, run-docs

refactor: featured post
  apps/landing/src/features/Blog/PostCard/index.tsx
  packages/payload/src/collections/Categories.ts
  packages/payload/src/collections/Posts.ts
  packages/payload/src/hooks/revalidate-page.ts
Due: run-shared, run-app, run-cms, run-landing, run-docs

feat: blog post image ratio to 16
  apps/landing/src/features/Blog/PostImage/index.tsx
Due: run-shared, run-landing

fix: links and descriptions for homepage
  apps/landing/src/assets/owners-product-slider.jpg
  apps/landing/src/assets/owners-product-slider.png
  apps/landing/src/assets/partners-product-slider.jpg
  apps/landing/src/features/Home/Actors/Card.tsx
  apps/landing/src/features/Home/Actors/index.tsx
  apps/landing/src/features/Home/Features/FeatureCard.tsx
  apps/landing/src/features/Home/Features/index.tsx
  apps/landing/src/features/Home/Value/ValueCard.tsx
  apps/landing/src/features/Home/Value/index.tsx
Due: run-shared, run-landing

refactor: page footer and button radius
  apps/landing/src/app/blog/categories/[category]/page.tsx
  apps/landing/src/app/blog/categories/layout.tsx
  apps/landing/src/app/blog/categories/page.tsx
  apps/landing/src/app/blog/layout.tsx
  apps/landing/src/features/Blog/FeaturedPost/index.tsx
  apps/landing/src/features/Blog/Post/index.tsx
  apps/landing/src/features/Home/Actors/Card.tsx
  apps/landing/src/features/Home/Features/index.tsx
  apps/landing/src/features/Home/Hero/index.tsx
  apps/landing/src/features/Home/Value/index.tsx
  apps/landing/src/features/Layout/CTA/index.tsx
  apps/landing/src/features/Layout/Footer/index.tsx
  apps/landing/src/features/Layout/Header/NavDesktop/index.tsx
  apps/landing/src/features/Layout/links.tsx
  apps/landing/src/features/Pricing/FAQ/index.tsx
  apps/landing/src/features/Pricing/Options/index.tsx
  apps/landing/src/features/Pricing/Options/items.tsx
  apps/landing/src/features/Shell/PageHeader/index.tsx
  packages/ui/src/components/mutuals/link.tsx
  packages/ui/src/components/mutuals/router-tabs.tsx
  packages/ui/src/theme/font/Geist/index.ts
  packages/ui/src/theme/font/index.ts
  packages/ui/src/theme/foundations/animation-styles.ts
  packages/ui/src/theme/foundations/tokens.ts
  packages/ui/src/theme/index.ts
Due: run-shared, run-app, run-cms, run-landing, run-docs

feat: badge gradient
  apps/landing/src/assets/flow.svg
  apps/landing/src/features/Blog/Post/index.tsx
  apps/landing/src/features/Blog/PostMeta/index.tsx
  apps/landing/src/features/Contact/Options/items.tsx
  apps/landing/src/features/Home/Hero/Video.tsx
  apps/landing/src/features/Home/Value/index.tsx
  apps/landing/src/features/Shell/BlogPost/index.tsx
  apps/landing/src/features/Shell/PageHeader/index.tsx
  packages/ui/src/theme/foundations/animation-styles.ts
  packages/ui/src/theme/foundations/keyframes.ts
  packages/ui/src/theme/foundations/tokens.ts
  packages/ui/src/theme/index.ts
  packages/ui/src/theme/recipes/badge.ts
  packages/ui/src/theme/recipes/index.ts
  packages/ui/src/theme/recipes/text.ts
Due: run-shared, run-app, run-cms, run-landing, run-docs

fix: build and themecolor
  apps/landing/src/app/blog/(categories)/[category]/page.tsx
  apps/landing/src/app/blog/(categories)/layout.tsx
  apps/landing/src/app/blog/(categories)/page.tsx
  apps/landing/src/app/blog/layout.tsx
  apps/landing/src/app/blog/post/[slug]/page.tsx
  apps/landing/src/features/Blog/Post/index.tsx
  apps/landing/src/features/Blog/PostCard/index.tsx
  apps/landing/src/features/Blog/PostImage/index.tsx
  apps/landing/src/features/Home/Features/index.tsx
  apps/landing/src/features/Layout/Footer/index.tsx
  apps/landing/src/features/Layout/links.tsx
  packages/metadata-nextjs/src/manifest.ts
  packages/metadata-nextjs/src/viewport.ts
  packages/ui/src/components/ui/pagination.tsx
Due: run-shared, run-app, run-cms, run-landing, run-docs

build: packages and lockfile
  .idea/prettier.xml
  bun.lock
  packages/graphql-client-nextjs/eslint.config.js
  packages/graphql-client-nextjs/package.json
  packages/graphql-client-nextjs/src/components/apollo-provider.tsx
  packages/graphql-client-nextjs/src/components/base/index.ts
  packages/graphql-client-nextjs/src/components/base/list-content.tsx
  packages/graphql-client-nextjs/src/components/base/query-list-renderer.tsx
  packages/graphql-client-nextjs/src/components/base/query-renderer.tsx
  packages/graphql-client-nextjs/src/components/index.ts
  packages/graphql-client-nextjs/src/components/viewer-pool-list-renderer.tsx
  packages/graphql-client-nextjs/src/graphql/codegen.ts
  packages/graphql-client-nextjs/src/graphql/data/__generated__/fragment-masking.ts
  packages/graphql-client-nextjs/src/graphql/data/__generated__/gql.ts
  packages/graphql-client-nextjs/src/graphql/data/__generated__/graphql.ts
  packages/graphql-client-nextjs/src/graphql/data/__generated__/index.ts
  packages/graphql-client-nextjs/src/graphql/data/fragments/PoolWithOwnerAndContract.ts
  packages/graphql-client-nextjs/src/graphql/data/fragments/UserPoolListWithOwnerAndContract.ts
  packages/graphql-client-nextjs/src/graphql/data/mutations/PoolCreate.ts
  packages/graphql-client-nextjs/src/graphql/data/mutations/UserRegister.ts
  packages/graphql-client-nextjs/src/graphql/data/queries/GetUserByWalletAddress.ts
  packages/graphql-client-nextjs/src/graphql/data/queries/MeGet.ts
  packages/graphql-client-nextjs/src/graphql/data/queries/Pool.ts
  packages/graphql-client-nextjs/src/graphql/data/queries/ViewerPoolList.ts
  packages/graphql-client-nextjs/src/index.ts
  packages/graphql-client-nextjs/src/types.ts
  packages/graphql-client-nextjs/src/utils.ts
Due: run-shared, run-app, run-cms, run-landing, run-docs, run-contracts

feat: db union type and schema updates
  apps/app/src/app/(dashboard)/(home)/layout.tsx
  apps/app/src/app/(dashboard)/layout.tsx
  apps/app/src/app/(dashboard)/pool/[id]/(overview)/deposit/page.tsx
  apps/app/src/app/(dashboard)/pool/[id]/(overview)/layout.tsx
  apps/app/src/app/(dashboard)/pool/[id]/(overview)/withdraw/page.tsx
  apps/app/src/app/(dashboard)/pool/[id]/(pages)/layout.tsx
  apps/app/src/app/(dashboard)/pool/[id]/(pages)/settings/layout.tsx
  apps/app/src/app/(dashboard)/pool/[id]/(pages)/settings/page.tsx
  apps/app/src/app/(dashboard)/pool/[id]/layout.tsx
  apps/app/src/features/Activity/TableCard/index.tsx
  apps/app/src/features/Asset/TableCard/index.tsx
  apps/app/src/features/Pool/Card/index.tsx
  apps/app/src/features/Pool/List/Content.tsx
  apps/app/src/features/Pool/List/index.tsx
  apps/app/src/features/PoolAction/Deposit/index.tsx
  apps/app/src/features/PoolAction/Withdraw/Form/Content.tsx
  apps/app/src/features/PoolAction/Withdraw/Form/index.tsx
  apps/app/src/features/PoolOverview/Description/index.tsx
  apps/app/src/features/PoolOverview/Handlers/index.tsx
  apps/app/src/features/Shell/Dashboard/Footer/index.tsx
  apps/app/src/features/Shell/Dashboard/Header/index.tsx
  apps/app/src/features/Shell/Dashboard/index.tsx
  apps/app/src/features/Shell/IconButtonList/index.tsx
  apps/app/src/features/Shell/Login/Provider.tsx
  apps/app/src/features/Shell/Pool/index.tsx
  apps/app/src/lib/split/index.ts
  apps/app/src/providers/index.tsx
  bun.lock
  packages/graphql-client-nextjs/package.json
  packages/graphql-client-nextjs/src/components/viewer-pool-list-renderer.tsx
  packages/graphql-client-nextjs/src/server/fetchers.ts
Due: run-shared, run-app, run-cms, run-landing, run-docs, run-contracts

refactor: contracts naming conventions and functionality
  apps/contracts/contracts/extension/BaseExtension.sol
  apps/contracts/contracts/extension/interfaces/IExtension.sol
  apps/contracts/contracts/extension/state/OffchainState.sol
  apps/contracts/contracts/extension/state/OnchainState.sol
  apps/contracts/contracts/extension/strategy/DefaultAllocation.sol
  apps/contracts/contracts/extension/strategy/PriorityGating.sol
  apps/contracts/contracts/extension/strategy/TimelockAllocation.sol
  apps/contracts/contracts/extension/strategy/TokenAllocation.sol
  apps/contracts/contracts/extension/strategy/TokenGating.sol
  apps/contracts/contracts/factory/PoolFactory.sol
  apps/contracts/contracts/factory/interfaces/IPoolFactory.sol
  apps/contracts/contracts/interfaces/IDistributionModule.sol
  apps/contracts/contracts/interfaces/IModule.sol
  apps/contracts/contracts/interfaces/IModuleRegistry.sol
  apps/contracts/contracts/interfaces/IPool.sol
  apps/contracts/contracts/interfaces/IPoolFactory.sol
  apps/contracts/contracts/interfaces/IValidationModule.sol
  apps/contracts/contracts/libraries/CustomRevert.sol
  apps/contracts/contracts/module-registry/ModuleRegistry.sol
  apps/contracts/contracts/modules/BaseModule.sol
  apps/contracts/contracts/modules/distribution/DirectDistributionModule.sol
  apps/contracts/contracts/modules/distribution/PriorityDistributionModule.sol
  apps/contracts/contracts/modules/distribution/TokenLimitDistributionModule.sol
  apps/contracts/contracts/modules/distribution/VestingDistributionModule.sol
  apps/contracts/contracts/modules/validation/MerkleTreeValidationModule.sol
  apps/contracts/contracts/modules/validation/OnchainMappingValidationModule.sol
  apps/contracts/contracts/pool/Pool.sol
  apps/contracts/contracts/pool/PoolFactory.sol
  apps/contracts/contracts/pool/PoolStorage.sol
  apps/contracts/contracts/pool/interfaces/IPool.sol
  apps/contracts/contracts/pool/libraries/Extensions.sol
  apps/contracts/contracts/pool/libraries/ParseBytes.sol
  apps/contracts/contracts/pool/types/Claim.sol
  apps/contracts/contracts/pool/types/Token.sol
  apps/contracts/contracts/pool/types/WithdrawParams.sol
  apps/contracts/contracts/registry/Registry.sol
  apps/contracts/contracts/registry/interfaces/IRegistry.sol
  apps/contracts/contracts/types/Claim.sol
  apps/contracts/contracts/types/PreHookResult.sol
  apps/contracts/contracts/types/Token.sol
Due: run-shared, run-contracts

fix: contracts compilation
  .idea/mutuals.iml
  apps/contracts/contracts/interfaces/IPoolFactory.sol
  apps/contracts/contracts/modules/distribution/DirectDistributionModule.sol
  apps/contracts/contracts/modules/distribution/PriorityDistributionModule.sol
  apps/contracts/contracts/modules/distribution/TokenLimitDistributionModule.sol
  apps/contracts/contracts/modules/distribution/VestingDistributionModule.sol
  apps/contracts/contracts/modules/validation/MerkleTreeValidationModule.sol
  apps/contracts/contracts/modules/validation/OnchainMappingValidationModule.sol
  apps/contracts/contracts/pool/Pool.sol
  apps/contracts/contracts/pool/PoolFactory.sol
  apps/contracts/contracts/pool/PoolStorage.sol
  apps/contracts/hardhat.config.ts
  apps/contracts/package.json
  apps/contracts/src/deploy/001_deploy_registry.ts
  apps/contracts/src/deploy/002_deploy_pool_beacon.ts
  apps/contracts/src/deploy/004_deploy_and_register_default_allocation.ts
  apps/contracts/src/deploy/004_deploy_and_register_direct_distribution.ts
  apps/contracts/src/deploy/005_deploy_and_register_timelock_allocation.ts
  apps/contracts/src/deploy/005_deploy_and_register_vesting_distribution.ts
  apps/contracts/src/deploy/006_deploy_and_register_token_allocation.ts
  apps/contracts/src/deploy/006_deploy_and_register_token_limit_distribution.ts
  apps/contracts/src/deploy/007_deploy_and_register_priority_distribution.ts
  apps/contracts/src/deploy/007_deploy_and_register_priority_gating.ts
  apps/contracts/src/deploy/008_deploy_and_register_onchain_mapping_validation.ts
  apps/contracts/src/deploy/008_deploy_and_register_token_gating.ts
  apps/contracts/src/deploy/009_deploy_and_register_merkle_tree_validation.ts
  apps/contracts/src/deploy/009_deploy_and_register_onchain_state.ts
  apps/contracts/src/deploy/010_deploy_and_register_offchain_state.ts
  apps/contracts/src/plugins/index.ts
  apps/contracts/src/tasks/index.ts
  apps/contracts/src/utils/deploy.ts
  apps/contracts/src/utils/extension.ts
  apps/contracts/test/Pool/withdraw.spec.ts
  apps/contracts/tsconfig.json
  apps/contracts/types/global.d.ts
  bun.lock
  packages/typescript-config/hh-sol.json
Due: run-shared, run-app, run-cms, run-landing, run-docs, run-contracts

docs: smart contracts details
  apps/contracts/contracts/pool/Pool.sol
  apps/docs/content/concepts/meta.json
  apps/docs/content/smart-contracts/components.mdx
  apps/docs/content/smart-contracts/guides/index.mdx
  apps/docs/content/smart-contracts/meta.json
  apps/docs/content/smart-contracts/modules.mdx
  apps/docs/content/smart-contracts/overview.mdx
  apps/docs/content/smart-contracts/security.mdx
Due: run-shared, run-docs, run-contracts

fix: contract deployment
  apps/contracts/contracts/interfaces/IPoolFactory.sol
  apps/contracts/contracts/modules/validation/MerkleTreeValidationModule.sol
  apps/contracts/contracts/pool/Pool.sol
  apps/contracts/contracts/pool/PoolFactory.sol
  apps/contracts/contracts/pool/PoolStorage.sol
  apps/contracts/src/contracts.json
  apps/contracts/src/utils/deploy.ts
  apps/contracts/src/utils/extension.ts
  apps/contracts/src/utils/pool.ts
  apps/contracts/test/Pool/withdraw.spec.ts
  apps/contracts/test/PoolFactory/createPool.spec.ts
  apps/contracts/types/global.d.ts
Due: run-shared, run-contracts

fix: local deployment deadlocks
  apps/contracts/src/plugins/deploy.ts
Due: run-shared, run-contracts

test: migrate to latest version
  apps/contracts/src/plugins/network.ts
  apps/contracts/test/OnchainState/checkState.spec.ts
  apps/contracts/test/Pool/release.spec.ts
  apps/contracts/test/Pool/withdraw.spec.ts
  apps/contracts/test/PoolFactory/createPool.spec.ts
Due: run-shared, run-contracts

fix: ui typegen
  packages/ui/src/theme/recipes/button.ts
Due: run-shared, run-app, run-cms, run-landing, run-docs

chore: upgrade deps
  apps/app/package.json
  apps/app/src/hooks/useWithdrawSplit.ts
  apps/cms/package.json
  apps/contracts/package.json
  apps/docs/package.json
  apps/landing/package.json
  bun.lock
  package.json
  packages/analytics-nextjs/package.json
  packages/eslint-config/package.json
  packages/extensions/package.json
  packages/graphql-client-nextjs/package.json
  packages/metadata-nextjs/package.json
  packages/payload/package.json
  packages/sdk-react/package.json
  packages/sdk/package.json
  packages/ui/package.json
  packages/ui/src/components/ui/rich-text-editor-context.tsx
  packages/ui/src/components/ui/rich-text-editor-control.tsx
  packages/ui/src/components/ui/rich-text-editor-menu.tsx
  packages/ui/src/components/ui/rich-text-editor.tsx
  packages/ui/src/components/ui/splitter.tsx
  packages/ui/src/components/ui/tooltip.tsx
Due: run-shared, run-app, run-cms, run-landing, run-docs, run-contracts

refactor: mobile payment image font
  apps/landing/src/assets/payment/all-desktop.svg
  apps/landing/src/assets/payment/all-mobile.svg
  apps/landing/src/assets/payment/combine.png
  apps/landing/src/assets/payment/fixed.png
  apps/landing/src/assets/payment/hero-desktop-old.svg
  apps/landing/src/assets/payment/hero-mobile-old.svg
  apps/landing/src/assets/payment/hero-mobile.svg
  apps/landing/src/assets/payment/percentage.png
  apps/landing/src/assets/payment/prioritized.png
  apps/landing/src/assets/payment/timelock.png
Due: run-shared, run-landing

feat: mobile header no white bg
  apps/landing/src/features/Home/Hero/index.tsx
Due: run-shared, run-landing

refactor: chain slider
  apps/landing/src/features/Home/Chains/ChainSlider.tsx
  apps/landing/src/features/Home/Chains/index.tsx
  apps/landing/src/features/Home/Value/index.tsx
Due: run-shared, run-landing

refactor: code structure and mobile drawer navbar
  apps/app/package.json
  apps/landing/package.json
  apps/landing/src/app/page.tsx
  apps/landing/src/components/ImageSlider/index.tsx
  apps/landing/src/components/KeenSlider/KeenSlider.tsx
  apps/landing/src/components/KeenSlider/KeenSliderSlide.tsx
  apps/landing/src/features/Home/Chains/ChainSlider.tsx
  apps/landing/src/features/Home/Features/Card.tsx
  apps/landing/src/features/Home/Features/index.tsx
  apps/landing/src/features/Home/Networks/Card.tsx
  apps/landing/src/features/Home/Networks/index.tsx
  apps/landing/src/features/Home/Networks/items.tsx
  apps/landing/src/features/Home/Networks/types.ts
  apps/landing/src/features/Home/Partners/PartnerSlider.tsx
  apps/landing/src/features/Home/Partners/index.tsx
  apps/landing/src/features/Layout/CTA/index.tsx
  apps/landing/src/features/Layout/Header/NavDesktop/index.tsx
  apps/landing/src/features/Layout/Header/NavMobile/Drawer.tsx
Due: run-shared, run-app, run-landing

refactor: pricing options
  apps/landing/src/features/Home/Networks/Card.tsx
  apps/landing/src/features/Home/Networks/types.ts
  apps/landing/src/features/Pricing/Actors/Card.tsx
  apps/landing/src/features/Pricing/Actors/index.tsx
  apps/landing/src/features/Pricing/Options/Card.tsx
  apps/landing/src/features/Pricing/Options/index.tsx
  apps/landing/src/features/Pricing/Options/items.tsx
Due: run-shared, run-landing

feat: export static
  apps/landing/next.config.ts
  apps/landing/src/app/blog/(categories)/layout.tsx
  apps/landing/src/app/blog/post/[slug]/page.tsx
  apps/landing/src/app/manifest.ts
  apps/landing/src/features/Blog/FeaturedPost/index.tsx
  apps/landing/src/features/Blog/PostCard/index.tsx
  apps/landing/src/features/Blog/PostImage/index.tsx
  apps/landing/src/features/Home/Actors/Card.tsx
  apps/landing/src/features/Home/Actors/index.tsx
Due: run-shared, run-landing

Path conditions:
  run-shared: any of: .*
  run-app: any of: (apps\/app|packages)\/.*
  run-cms: any of: (apps\/cms|packages)\/.*
  run-landing: any of: (apps\/landing|packages)\/.*
  run-docs: any of: (apps\/docs|packages)\/.*
  run-contracts: any of: (apps\/contracts|packages\/eslint-config|packages\/typescript-config|packages\/graphql-client-nextjs)\/.*
