Repository mutuals-finance/mutuals: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-shared, run-app, run-landing, run-docs, run-contracts

feat: header search input sizing
  apps/app/src/features/Shell/Dashboard/Header/index.tsx
  apps/app/src/features/Shell/Dashboard/Sidebar/Content.tsx
Due: run-shared, run-app, run-docs

feat sign in alert
  apps/app/src/app/(dashboard)/(home)/layout.tsx
  apps/app/src/features/DashboardHome/Balance/Chart.tsx
  apps/app/src/features/DashboardHome/Balance/Content.tsx
  apps/app/src/features/DashboardHome/Balance/index.tsx
  apps/app/src/features/Shell/Dashboard/Footer/Footer.tsx
  apps/app/src/features/Shell/Dashboard/Footer/index.tsx
  apps/app/src/features/Shell/Dashboard/Header/index.tsx
  apps/app/src/features/Shell/Dashboard/Root/index.tsx
  apps/app/src/features/Shell/Dashboard/Sidebar/Desktop.tsx
  apps/app/src/features/Shell/Dashboard/Sidebar/Footer.tsx
  apps/app/src/features/Shell/Dashboard/Sidebar/Mobile.tsx
  apps/app/src/features/Shell/Dashboard/index.tsx
  apps/app/src/features/Shell/Dashboard/links.ts
  apps/app/src/features/Shell/Page/index.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/mutuals/link-list-box.tsx
  packages/ui/src/components/mutuals/link.tsx
  packages/ui/src/index.ts
Due: run-shared, run-app, run-landing, run-docs

feat: init analytics
  apps/app/package.json
  apps/app/src/constants/env.ts
  apps/app/src/providers/AnalyticsProvider.tsx
  apps/app/src/providers/index.tsx
  packages/analytics-nextjs/.eslintrc.js
  packages/analytics-nextjs/package.json
  packages/analytics-nextjs/src/index.ts
  packages/analytics-nextjs/src/mixpanel/context.tsx
  packages/analytics-nextjs/src/mixpanel/index.ts
  packages/analytics-nextjs/src/mixpanel/provider.tsx
  packages/analytics-nextjs/src/mixpanel/useMixpanel.ts
  packages/analytics-nextjs/tsconfig.json
  pnpm-lock.yaml
Due: run-shared, run-app, run-landing, run-docs

feat: drawer for deposit and withdraw
  apps/app/src/app/(dashboard)/(home)/(pools)/deposit/page.tsx
  apps/app/src/app/(dashboard)/(home)/(pools)/layout.tsx
  apps/app/src/app/(dashboard)/(home)/(pools)/page.tsx
  apps/app/src/app/(dashboard)/(home)/(pools)/withdraw/page.tsx
  apps/app/src/features/DashboardHome/Handlers/index.tsx
  packages/ui/src/components/mutuals/icon-text-button.tsx
Due: run-shared, run-app, run-landing, run-docs

fix: remove nested page
  apps/app/src/app/(dashboard)/(home)/(pools)/layout.tsx
  apps/app/src/app/(dashboard)/(home)/(pools)/page.tsx
  apps/app/src/features/Shell/Dashboard/Sidebar/Mobile.tsx
Due: run-shared, run-app, run-docs

fix: mobile sign in layout
  apps/app/src/app/auth/login/email/page.tsx
  apps/app/src/app/auth/login/page.tsx
  apps/app/src/components/RouterTabs/index.tsx
  apps/app/src/features/Shell/Login/index.tsx
  apps/app/src/features/Wallet/Selection/Wrapper.tsx
Due: run-shared, run-app, run-docs

feat: add wallet and pool creation routes
  apps/app/src/components/RouterTabs/index.tsx
  apps/app/src/features/DashboardHome/Handlers/index.tsx
  apps/app/src/features/PoolAdd/Form/index.tsx
  apps/app/src/features/Wallet/Add/index.tsx
  apps/app/src/features/Wallet/Form/Content.tsx
  apps/app/src/features/Wallet/Form/Drawer.tsx
Due: run-shared, run-app, run-docs

fix: footer links
  apps/app/src/app/(dashboard)/(home)/(pools)/layout.tsx
  apps/app/src/app/(dashboard)/pool/new/page.tsx
  apps/app/src/components/RouterTabs/index.tsx
  apps/app/src/features/DashboardHome/Handlers/index.tsx
  apps/app/src/features/Pool/List/EmptyState.tsx
  apps/app/src/features/Pool/List/index.tsx
  apps/app/src/features/PoolAdd/Form/index.tsx
  apps/app/src/features/Shell/Dashboard/Footer/index.tsx
  packages/ui/src/theme/slot-recipes/drawer.ts
Due: run-shared, run-app, run-landing, run-docs

fix: footer legal target
  apps/app/src/features/Shell/Dashboard/Footer/index.tsx
Due: run-shared, run-app, run-docs

build: update node image
  .circleci/shared/jobs/deploy.yml
Due: run-shared

fix: footer link
  apps/app/src/features/Shell/Dashboard/Footer/index.tsx
Due: run-shared, run-app, run-docs

refactor: hero and about company page
  apps/app/src/features/Shell/Dashboard/Footer/index.tsx
  apps/landing/src/app/about/page.tsx
  apps/landing/src/assets/asset-allocation.png
  apps/landing/src/assets/dashboard-desktop.png
  apps/landing/src/assets/dashboard-handlers.png
  apps/landing/src/assets/hero-2.png
  apps/landing/src/assets/mock-signin.png
  apps/landing/src/assets/transaction-history.png
  apps/landing/src/features/About/Career/index.tsx
  apps/landing/src/features/About/ContactCTA/index.tsx
  apps/landing/src/features/About/Ethos/index.tsx
  apps/landing/src/features/About/PageHeader/ImageSlider.tsx
  apps/landing/src/features/About/PageHeader/index.tsx
  apps/landing/src/features/Home/Hero/ImageSlider.tsx
  apps/landing/src/features/Home/Hero/index.tsx
  apps/landing/src/features/Home/Value/index.tsx
  apps/landing/src/features/Layout/Footer/index.tsx
  apps/landing/src/features/Layout/Header/ContainerWrapper/index.tsx
  apps/landing/src/features/Layout/links.tsx
  packages/metadata-nextjs/src/manifest.ts
  packages/metadata-nextjs/src/metadata.ts
Due: run-shared, run-app, run-landing, run-docs

feat: mobile hero
  apps/landing/src/features/Home/Hero/index.tsx
Due: run-shared, run-landing

feat: steps content
  apps/app/src/features/PoolAdd/Form/index.tsx
Due: run-shared, run-app, run-docs

feat: mobile create pool view
  apps/app/src/features/PoolAdd/Form/index.tsx
  packages/ui/src/index.ts
Due: run-shared, run-app, run-landing, run-docs

fix: app compilation
  apps/app/src/app/(dashboard)/pool/[id]/(pages)/settings/layout.tsx
  apps/app/src/features/Allocation/FormTable/Row.tsx
  apps/app/src/features/Allocation/Table/Row.tsx
  apps/app/src/features/Allocation/TableCard/index.tsx
  apps/app/src/features/PoolAction/Deposit/index.tsx
  apps/app/src/features/PoolAction/Withdraw/Form/Content.tsx
  apps/app/src/features/PoolAdd/Form/index.tsx
  apps/app/src/features/PoolAdd/Modal/index.tsx
  apps/app/src/features/PoolAdd/Modal/steps/ReviewStep.tsx
  apps/app/src/features/PoolAdd/types.ts
  apps/app/src/features/Wallet/Card/index.tsx
  apps/app/src/features/Wallet/useSignRemoteMessage.ts
  apps/app/src/utils/utils.ts
Due: run-shared, run-app, run-docs

feat: dashboard without auth
  apps/app/src/features/Shell/Dashboard/Header/User.tsx
  apps/app/src/features/Shell/Dashboard/Header/index.tsx
  apps/app/src/features/Shell/Dashboard/index.tsx
  packages/metadata-nextjs/src/base-icon.tsx
  packages/metadata-nextjs/src/icon.tsx
Due: run-shared, run-app, run-landing, run-docs

feat: sidebar without motion
  apps/app/src/features/Shell/Dashboard/Header/index.tsx
  apps/app/src/features/Shell/Dashboard/Sidebar/Content.tsx
  apps/app/src/features/Shell/Dashboard/index.tsx
Due: run-shared, run-app, run-docs

feat: mobile and desktop sidebar
  apps/app/src/features/Shell/Dashboard/Header/User.tsx
  apps/app/src/features/Shell/Dashboard/Header/index.tsx
  apps/app/src/features/Shell/Dashboard/Root/index.tsx
  apps/app/src/features/Shell/Dashboard/Sidebar/Content.tsx
  apps/app/src/features/Shell/Dashboard/Sidebar/Desktop.tsx
  apps/app/src/features/Shell/Dashboard/Sidebar/Footer.tsx
  apps/app/src/features/Shell/Dashboard/Sidebar/Mobile.tsx
  apps/app/src/features/Shell/Dashboard/Sidebar/index.tsx
  apps/app/src/features/Shell/Dashboard/Sidebar/nav-items.ts
  apps/app/src/features/Shell/Dashboard/index.tsx
  apps/app/src/features/Shell/Dashboard/links.ts
  apps/app/src/features/Wallet/Selection/Email.tsx
  apps/app/src/features/Wallet/SelectionButton/index.tsx
Due: run-shared, run-app, run-docs

feat: dashboard graph
  apps/app/src/app/(dashboard)/(home)/layout.tsx
  apps/app/src/features/Auth/SignInCard/index.tsx
  apps/app/src/features/DashboardHome/Balance/Chart.tsx
  apps/app/src/features/DashboardHome/Balance/index.tsx
  apps/app/src/features/DashboardHome/Handlers/index.tsx
  apps/app/src/features/Pool/List/Content.tsx
  apps/app/src/features/Pool/List/EmptyState.tsx
  apps/app/src/features/Pool/List/index.tsx
  apps/app/src/features/Shell/Dashboard/Footer/index.tsx
  apps/app/src/features/Shell/Dashboard/Header/User.tsx
  apps/app/src/features/Shell/Dashboard/Header/index.tsx
  apps/app/src/features/Shell/Dashboard/Sidebar/Content.tsx
  apps/app/src/features/Shell/Dashboard/Sidebar/nav-items.ts
  apps/app/src/features/Shell/IconButtonList/index.tsx
  apps/app/src/features/Wallet/List/index.tsx
  packages/ui/package.json
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: run-shared, run-app, run-landing, run-docs

feat: enable subpages
  apps/app/src/app/(dashboard)/(home)/layout.tsx
  apps/app/src/app/(dashboard)/address-book/page.tsx
  apps/app/src/app/(dashboard)/pool/page.tsx
  apps/app/src/app/(dashboard)/settings/notifications/page.tsx
  apps/app/src/app/(dashboard)/settings/page.tsx
  apps/app/src/app/(dashboard)/settings/security/page.tsx
  apps/app/src/app/apple-icon.tsx
  apps/app/src/app/icon.tsx
  apps/app/src/components/RouterTabs/index.tsx
  apps/app/src/components/Sidebar/SidebarWrapper.tsx
  apps/app/src/features/AddressBook/List/index.tsx
  apps/app/src/features/Auth/SignInCard/index.tsx
  apps/app/src/features/DashboardHome/Handlers/index.tsx
  apps/app/src/features/Pool/List/index.tsx
  apps/app/src/features/Shell/Dashboard/Header/User.tsx
  apps/app/src/features/Shell/Dashboard/Sidebar/nav-items.ts
  apps/app/src/features/UserSettings/General/index.tsx
  apps/app/src/features/UserSettings/Notifications/index.tsx
  apps/app/src/features/UserSettings/Security/index.tsx
Due: run-shared, run-app, run-docs

fix: radii and build error query
  apps/app/src/app/(dashboard)/(home)/layout.tsx
  apps/app/src/app/(dashboard)/address-book/page.tsx
  apps/app/src/features/DashboardHome/Balance/index.tsx
  apps/app/src/features/DashboardHome/Handlers/index.tsx
  apps/app/src/features/Shell/IconButtonList/index.tsx
  apps/app/src/features/Wallet/List/index.tsx
  apps/landing/src/components/IconBox/index.tsx
  apps/landing/src/features/About/Career/index.tsx
  apps/landing/src/features/About/PageHeader/ImageSlider.tsx
  apps/landing/src/features/About/PageHeader/index.tsx
  apps/landing/src/features/Contact/Options/items.tsx
  apps/landing/src/features/Home/Actors/Card.tsx
  apps/landing/src/features/Home/Hero/index.tsx
  apps/landing/src/features/Home/Payments/index.tsx
  apps/landing/src/features/Home/Value/index.tsx
  apps/landing/src/features/Layout/CTA/index.tsx
  apps/landing/src/features/Layout/Header/NavDesktop/index.tsx
  apps/landing/src/features/Layout/Header/NavMobile/Drawer.tsx
  apps/landing/src/features/Pricing/Options/index.tsx
  packages/ui/src/components/mutuals/icon-text-button.tsx
  packages/ui/src/theme/foundations/semantic-tokens.ts
  packages/ui/src/theme/recipes/button.ts
  packages/ui/src/theme/slot-recipes/card.ts
Due: run-shared, run-app, run-landing, run-docs

feat: dashboard content flow
  apps/app/src/app/(dashboard)/(home)/layout.tsx
  apps/app/src/features/DashboardHome/Balance/index.tsx
  apps/app/src/features/DashboardHome/Handlers/index.tsx
  packages/ui/src/theme/slot-recipes/stat.ts
Due: run-shared, run-app, run-landing, run-docs

Path conditions:
  run-shared: (any of: .*) or (any of: (?!apps\/|packages\/).*)
  run-app: any of: (apps\/app|packages)\/.*
  run-landing: any of: (apps\/landing|packages)\/.*
  run-docs: any of: (apps\/app|packages)\/.*
  run-contracts: any of: (apps\/contracts|packages\/eslint-config|packages\/typescript-config|packages\/graphql-client-nextjs)\/.*
