Repository mutuals-finance/mutuals: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-shared, run-app, run-landing, run-docs, run-contracts

feat: viewport colorscheme
  packages/metadata-nextjs/src/icon.tsx
  packages/metadata-nextjs/src/viewport.ts
Due: run-shared, run-app, run-landing, run-docs

feat: init blog
  apps/app/src/app/(dashboard)/(home)/(pools)/layout.tsx
  apps/app/src/app/(dashboard)/pool/[id]/(pages)/settings/layout.tsx
  apps/app/src/app/(dashboard)/settings/layout.tsx
  apps/app/src/features/Auth/SignInCard/index.tsx
  apps/app/src/features/Pool/List/EmptyState.tsx
  apps/app/src/features/Shell/PoolOverview/Sidebar/index.tsx
  apps/landing/src/app/blog/[tag]/page.tsx
  apps/landing/src/app/blog/layout.tsx
  apps/landing/src/app/blog/page.tsx
  apps/landing/src/app/blog/page/[id]/page.tsx
  apps/landing/src/app/blog/page/layout.tsx
  apps/landing/src/assets/blog/intro.png
  apps/landing/src/features/Blog/Grid/index.tsx
  apps/landing/src/features/Blog/Hero/index.tsx
  apps/landing/src/features/Blog/Tabs/index.tsx
  apps/landing/src/features/Layout/Header/NavLink.tsx
  apps/landing/src/features/Layout/links.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/mutuals/empty-state-card.tsx
  packages/ui/src/components/mutuals/router-tabs.tsx
  packages/ui/src/index.ts
Due: run-shared, run-app, run-landing, run-docs

refactor: cleanup unused deps
  apps/app/next-env.d.ts
  apps/app/src/components/EmptyCard/index.tsx
  apps/app/src/components/RouterTabs/index.tsx
  apps/app/src/components/TreeTable/Row.tsx
  apps/app/src/components/TreeTable/index.tsx
  apps/app/src/features/Auth/SignInCard/index.tsx
  apps/landing/next-env.d.ts
Due: run-shared, run-app, run-landing, run-docs

fix: theme color
  packages/metadata-nextjs/src/viewport.ts
Due: run-shared, run-app, run-landing, run-docs

feat: wallet card popup
  apps/app/next-env.d.ts
  apps/app/src/features/Wallet/Card/index.tsx
  apps/landing/next-env.d.ts
Due: run-shared, run-app, run-landing, run-docs

feat: link and active current
  apps/landing/src/app/blog/layout.tsx
  apps/landing/src/app/blog/page/[id]/page.tsx
  apps/landing/src/app/blog/page/layout.tsx
  apps/landing/src/features/Blog/Hero/index.tsx
  apps/landing/src/features/Blog/Tabs/index.tsx
  apps/landing/src/features/Layout/Header/NavContainer/index.tsx
  apps/landing/src/features/Layout/Header/NavDesktop/index.tsx
  apps/landing/src/features/Layout/Header/NavLink.tsx
  apps/landing/src/features/Layout/Header/NavMobile/Drawer.tsx
  apps/landing/src/features/Layout/Header/NavWrapper/index.tsx
  apps/landing/src/features/Layout/Header/index.tsx
  apps/landing/src/features/Layout/links.tsx
  packages/ui/src/components/mutuals/link-list-box.tsx
  packages/ui/src/components/mutuals/link.tsx
  packages/ui/src/components/mutuals/router-tabs.tsx
  packages/ui/src/theme/foundations/text-styles.ts
  packages/ui/src/theme/recipes/link.ts
Due: run-shared, run-app, run-landing, run-docs

feat: upgrade docs packages
  apps/docs/next-env.d.ts
  apps/docs/package.json
Due: run-shared

feat: upgrade deps
  apps/app/package.json
  apps/contracts/package.json
  apps/docs/.eslintrc.js
  apps/docs/app/layout.tsx
  apps/docs/eslint.config.js
  apps/landing/.eslintrc.js
  apps/landing/eslint.config.js
  apps/landing/package.json
  package.json
  packages/analytics-nextjs/package.json
  packages/eslint-config/package.json
  packages/extensions/package.json
  packages/graphql-client-nextjs/package.json
  packages/metadata-nextjs/package.json
  packages/sdk-react/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: run-shared, run-app, run-landing, run-docs, run-contracts

feat: enable shared configs
  .idea/jsLibraryMappings.xml
  apps/cms/.prettierrc.json
  apps/cms/.yarnrc
  apps/cms/eslint.config.mjs
  apps/cms/next-env.d.ts
  apps/cms/package.json
  apps/cms/tsconfig.json
  apps/landing/tsconfig.json
  pnpm-lock.yaml
Due: run-shared, run-landing

feat: remove unused frontend
  apps/cms/next-env.d.ts
  apps/cms/package.json
  apps/cms/src/app/(frontend)/layout.tsx
  apps/cms/src/app/(frontend)/page.tsx
  apps/cms/src/app/(frontend)/styles.css
  apps/cms/src/app/route.ts
Due: run-shared

refactor: cleanup unused blocks
  apps/cms/src/blocks/Banner/index.ts
  apps/cms/src/blocks/CallToAction/index.ts
  apps/cms/src/blocks/Callout/index.ts
  apps/cms/src/blocks/CardGrid/index.ts
  apps/cms/src/blocks/CaseStudiesHighlight/index.ts
  apps/cms/src/blocks/CaseStudyCards/index.ts
  apps/cms/src/blocks/CaseStudyParallax/index.ts
  apps/cms/src/blocks/CodeFeature/index.ts
  apps/cms/src/blocks/ComparisonTable/index.ts
  apps/cms/src/blocks/Content/index.ts
  apps/cms/src/blocks/ContentGrid/index.ts
  apps/cms/src/blocks/Download/index.ts
  apps/cms/src/blocks/ExampleTabs/index.ts
  apps/cms/src/blocks/Form/index.ts
  apps/cms/src/blocks/HoverCards/index.ts
  apps/cms/src/blocks/HoverHighlights/index.ts
  apps/cms/src/blocks/LinkGrid/index.ts
  apps/cms/src/blocks/LogoGrid/index.ts
  apps/cms/src/blocks/Media/index.ts
  apps/cms/src/blocks/MediaContent/index.ts
  apps/cms/src/blocks/MediaContentAccordion/index.ts
  apps/cms/src/blocks/Pricing/index.ts
  apps/cms/src/blocks/ReusableContent/index.ts
  apps/cms/src/blocks/Slider/index.ts
  apps/cms/src/blocks/Statement/index.ts
  apps/cms/src/blocks/Steps/index.ts
  apps/cms/src/blocks/StickyHighlights/index.ts
  apps/cms/src/collections/Posts.ts
  apps/cms/src/collections/ReusableContent.ts
  apps/cms/src/fields/blockFields.ts
  apps/cms/src/fields/fullTitle/index.ts
  apps/cms/src/fields/fullTitle/populateFullTitle.ts
  apps/cms/src/fields/hero.ts
  apps/cms/src/payload-types.ts
  apps/cms/src/payload.config.ts
Due: run-shared

ci: add cms pipeline
  .circleci/app/config.yml
  .circleci/cms/config.yml
  .circleci/config.yml
  .circleci/contracts/config.yml
  .circleci/docs/config.yml
  .circleci/landing/config.yml
  .circleci/noop.yml
  apps/cms/Dockerfile
  apps/cms/docker-compose.yml
  apps/cms/next-env.d.ts
  apps/cms/playwright.config.ts
  apps/cms/src/app/my-route/route.ts
  apps/cms/src/fields/linkGroup.ts
  apps/cms/src/fields/richText.ts
  apps/cms/src/fields/richText/features/label/LabelNode.ts
  apps/cms/src/fields/richText/features/label/client/icon/index.tsx
  apps/cms/src/fields/richText/features/label/client/index.tsx
  apps/cms/src/fields/richText/features/label/client/styles.scss
  apps/cms/src/fields/richText/features/label/server/index.ts
  apps/cms/src/fields/richText/features/largeBody/LargeBodyNode.ts
  apps/cms/src/fields/richText/features/largeBody/client/icon/index.tsx
  apps/cms/src/fields/richText/features/largeBody/client/index.tsx
  apps/cms/src/fields/richText/features/largeBody/client/styles.scss
  apps/cms/src/fields/richText/features/largeBody/server/index.ts
  apps/cms/src/payload.config.ts
  apps/cms/tests/e2e/frontend.e2e.spec.ts
  apps/cms/tests/int/api.int.spec.ts
  apps/cms/tsconfig.json
Due: run-shared

ci: update setup
  .circleci/cms/config.yml
  .circleci/shared/@shared.yml
  .circleci/shared/commands/deploy-to-vercel.yml
  .circleci/shared/commands/run-custom-command.yml
  .circleci/shared/commands/setup-pnpm.yml
  .circleci/shared/commands/setup-vercel.yml
  .circleci/shared/executors/node-large.yml
  .circleci/shared/jobs/deploy.yml
Due: run-shared

feat: add dev prod build cmd
  apps/cms/package.json
Due: run-shared

ci: change enum type to string
  .circleci/shared/commands/deploy-to-vercel.yml
  .circleci/shared/commands/setup-vercel.yml
  apps/cms/package.json
Due: run-shared

ci: pass cms params as arg
  .circleci/cms/config.yml
  apps/cms/package.json
Due: run-shared

ci: enable bash env in modular build steps
  .circleci/shared/commands/deploy-to-vercel.yml
  .circleci/shared/commands/setup-vercel.yml
Due: run-shared

feat: remove dev prod build cmd
  apps/cms/package.json
Due: run-shared

ci: add parameter to vercel pull cmd
  .circleci/shared/commands/run-custom-command.yml
  .circleci/shared/commands/setup-vercel.yml
  apps/cms/package.json
Due: run-shared

ci: run custom cms command in workspace package
  .circleci/cms/config.yml
  .circleci/shared/commands/run-custom-command.yml
  apps/cms/package.json
Due: run-shared

feat: remove sharp in config
  apps/cms/next-env.d.ts
  apps/cms/package.json
  apps/cms/src/payload.config.ts
  pnpm-lock.yaml
Due: run-shared

ci: disable migration
  .circleci/cms/config.yml
  apps/cms/package.json
Due: run-shared

ci: enable migration cms
  .circleci/cms/config.yml
Due: run-shared

feat: add initial migration
  apps/cms/src/migrations/20251128_130329.json
  apps/cms/src/migrations/20251128_130329.ts
  apps/cms/src/migrations/index.ts
Due: run-shared

ci: compare to git revision of target branch
  .circleci/config.yml
Due: run-shared

ci: use default config
  .circleci/config.yml
Due: run-shared

ci: update orb
  .circleci/config.yml
Due: run-shared

ci: update path-filtering orb
  .circleci/config.yml
Due: run-shared

ci: noop with wildcard
  .circleci/config.yml
  .circleci/noop.yml
Due: run-shared

ci: enable config gen
  .circleci/config.yml
Due: run-shared

ci: use compatible filtering version
  .circleci/config.yml
Due: run-shared

feat: link to docs
  apps/landing/src/features/Layout/Footer/index.tsx
Due: run-shared, run-landing

ci: fix parameter interpolation
  .circleci/shared/jobs/deploy.yml
Due: run-shared

ci: change label casing
  .circleci/shared/commands/deploy-to-vercel.yml
  .circleci/shared/commands/run-custom-command.yml
  .circleci/shared/commands/setup-pnpm.yml
  .circleci/shared/commands/setup-vercel.yml
Due: run-shared

feat: blog main button
  .circleci/shared/commands/deploy-to-vercel.yml
  apps/landing/src/features/Blog/Hero/index.tsx
Due: run-shared, run-landing

feat: blog main button
  .circleci/shared/jobs/deploy.yml
  apps/landing/src/features/Blog/Hero/index.tsx
Due: run-shared, run-landing

ci: remove debug print
  .circleci/shared/commands/deploy-to-vercel.yml
Due: run-shared

Path conditions:
  run-shared: (any of: .*) or (any of: (?!apps\/|packages\/).*)
  run-app: any of: (apps\/app|packages)\/.*
  run-landing: any of: (apps\/landing|packages)\/.*
  run-docs: any of: (apps\/app|packages)\/.*
  run-contracts: any of: (apps\/contracts|packages\/eslint-config|packages\/typescript-config|packages\/graphql-client-nextjs)\/.*
