Repository mutuals-finance/mutuals: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-shared, run-app, run-landing, run-docs, run-contracts

docs: update root readme
  README.md
Due: run-shared

refactor: landing hero cards
  README.md
  apps/contracts/.openzeppelin/unknown-80002.json
  apps/contracts/compiler_config.json
  apps/contracts/deployments/polygonAmoy/.chainId
  apps/contracts/deployments/polygonAmoy/Pool.json
  apps/contracts/deployments/polygonAmoy/PoolFactory.json
  apps/contracts/package.json
  apps/contracts/src/contracts.json
  apps/landing/src/features/Contact/Options/index.tsx
  apps/landing/src/features/Contact/Options/items.tsx
  apps/landing/src/features/Home/Value/ValueCard.tsx
  apps/landing/src/features/Home/Value/index.tsx
  apps/landing/src/features/Layout/Header/NavLink.tsx
  apps/landing/src/features/Layout/links.tsx
Due: run-shared, run-landing, run-contracts

docs: diagram
  README.md
  apps/landing/src/assets/percentage.png
  apps/landing/src/assets/timelock.png
  apps/landing/src/features/Home/Payments/index.tsx
Due: run-shared, run-landing

docs: diagram timelock
  README.md
Due: run-shared

docs: update licence
  LICENCE
Due: run-shared

docs: update security
  SECURITY.md
Due: run-shared

docs: add code of conduct
  CODE_OF_CONDUCT.md
Due: run-shared

chore: update editorconfig
  .editorconfig
Due: run-shared

chore: update code of conduct
  CODE_OF_CONDUCT.md
Due: run-shared

feat: about slider
  apps/landing/src/components/GridBg/index.tsx
  apps/landing/src/components/ImageSlider/index.tsx
  apps/landing/src/features/About/Career/index.tsx
  apps/landing/src/features/About/Ethos/index.tsx
  apps/landing/src/features/About/PageHeader/ImageSlider.tsx
  apps/landing/src/features/About/PageHeader/index.tsx
  apps/landing/src/features/Home/Hero/ImageSlider.tsx
  apps/landing/src/features/Layout/Header/ContainerWrapper/ClientTheme.tsx
  apps/landing/src/features/Layout/Header/ContainerWrapper/index.tsx
  apps/landing/src/features/Layout/Header/NavLink.tsx
  packages/ui/src/theme/foundations/text-styles.ts
  pnpm-lock.yaml
Due: run-shared, run-app, run-landing, run-docs

refactor: home card text
  apps/landing/src/features/Home/Features/FeatureCard.tsx
  apps/landing/src/features/Home/Features/index.tsx
  apps/landing/src/features/Home/Payments/PaymentCard.tsx
  apps/landing/src/features/Home/Payments/index.tsx
  apps/landing/src/features/Home/Value/ValueCard.tsx
Due: run-shared, run-landing

fix: idea ignore
  .gitignore
  .idea/.gitignore
  .idea/.name
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLinters/eslint.xml
  .idea/material_theme_project_new.xml
  .idea/modules.xml
  .idea/mutuals.iml
  .idea/prettier.xml
  .idea/vcs.xml
Due: run-shared

feat: init changeset
  .changeset/README.md
  .changeset/config.json
  .github/PULL_REQUEST_TEMPLATE.md
  package.json
  pnpm-lock.yaml
Due: run-shared

fix: price title
  apps/landing/src/app/pricing/page.tsx
  package.json
Due: run-shared, run-landing

feat: use case slider
  apps/landing/src/app/pricing/page.tsx
  apps/landing/src/components/GridBg/index.tsx
  apps/landing/src/features/Home/Hero/index.tsx
  apps/landing/src/features/Home/Payments/PaymentCard.tsx
  apps/landing/src/features/Home/Payments/PaymentSlider.tsx
  apps/landing/src/features/Home/Payments/index.tsx
  apps/landing/src/features/Home/Payments/items.ts
  apps/landing/src/features/Home/Value/ValueCard.tsx
  apps/landing/src/features/Home/Value/index.tsx
  apps/landing/src/features/Pricing/Options/index.tsx
  packages/ui/src/theme/slot-recipes/card.ts
  packages/ui/src/theme/slot-recipes/index.ts
Due: run-shared, run-app, run-landing, run-docs

build: update deps
  apps/app/package.json
  apps/contracts/package.json
  apps/docs/package.json
  apps/landing/package.json
  package.json
  packages/eslint-config/package.json
  packages/graphql-client-nextjs/package.json
  packages/sdk-react/package.json
  packages/sdk/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: run-shared, run-app, run-landing, run-docs, run-contracts

fix: econrefused error catch apollo
  apps/app/src/features/Auth/Provider/index.tsx
  apps/app/src/features/Shell/Login/index.tsx
  apps/app/src/features/Wallet/Selection/Wallet.tsx
  apps/app/src/features/Wallet/Selection/Wrapper.tsx
  apps/app/src/features/Wallet/SelectionButton/index.tsx
  apps/app/src/features/Wallet/SignModal/index.tsx
  apps/app/src/features/Wallet/SignProvider/index.tsx
  apps/app/src/lib/wagmi/config.ts
  apps/app/src/providers/UIProvider.tsx
  apps/app/src/providers/index.tsx
  packages/graphql-client-nextjs/package.json
  packages/graphql-client-nextjs/src/client/client.ts
  packages/graphql-client-nextjs/src/providers/ApolloProvider/index.tsx
  packages/graphql-client-nextjs/src/server/client.ts
  packages/graphql-client-nextjs/src/server/fetchers.ts
  packages/graphql-client-nextjs/src/server/mutations.ts
  packages/graphql-client-nextjs/src/server/networkErrorLink.ts
  packages/ui/src/components/ui/toaster.tsx
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: run-shared, run-app, run-landing, run-docs, run-contracts

ci: job names
  .circleci/app/config.yml
  .circleci/contracts/config.yml
  .circleci/docs/config.yml
  .circleci/landing/config.yml
Due: run-shared

refactor: remove deprecated image
  apps/landing/src/assets/background-primary-old.png
Due: run-shared, run-landing

refactor: remove deprecated video
  .circleci/landing/config.yml
  apps/landing/src/assets/home-hero.mp4
Due: run-shared, run-landing

feat: export progress circle
  .circleci/app/config.yml
  .circleci/contracts/config.yml
  .circleci/docs/config.yml
  .circleci/landing/config.yml
  packages/ui/src/components/index.ts
  packages/ui/src/index.ts
Due: run-shared, run-app, run-landing, run-docs

feat: mobile center login
  apps/app/src/features/Shell/Login/index.tsx
  apps/app/src/features/Wallet/Selection/Email.tsx
  apps/app/src/features/Wallet/Selection/Wallet.tsx
  apps/app/src/features/Wallet/Selection/Wrapper.tsx
Due: run-shared, run-app, run-docs

refactor: login mobile view
  apps/app/package.json
  apps/app/src/assets/svg/connectors/coinbaseWallet.svg
  apps/app/src/assets/svg/connectors/metaMask.svg
  apps/app/src/assets/svg/connectors/walletConnect.svg
  apps/app/src/assets/svg/metaMask.svg
  apps/app/src/components/RouterTabs/index.tsx
  apps/app/src/constants/connectors.ts
  apps/app/src/features/Shell/Login/index.tsx
  apps/app/src/features/Wallet/Selection/Wallet.tsx
  apps/app/src/features/Wallet/Selection/Wrapper.tsx
  pnpm-lock.yaml
Due: run-shared, run-app, run-docs

feat: magic client
  apps/app/src/assets/svg/connectors/Magic.svg
  apps/app/src/components/RouterTabs/index.tsx
  apps/app/src/constants/env.ts
  apps/app/src/features/Shell/Login/index.tsx
  apps/app/src/features/Wallet/Selection/Wallet.tsx
  apps/app/src/features/Wallet/Selection/Wrapper.tsx
  apps/app/src/lib/wagmi/config.ts
  packages/graphql-client-nextjs/src/server/client.ts
Due: run-shared, run-app, run-landing, run-docs, run-contracts

feat: metadata package
  apps/app/package.json
  apps/app/public/android-chrome-192x192.png
  apps/app/public/android-chrome-512x512.png
  apps/app/public/apple-touch-icon.png
  apps/app/public/browserconfig.xml
  apps/app/public/circles.svg
  apps/app/public/favicon-16x16.png
  apps/app/public/favicon-32x32.png
  apps/app/public/favicon.ico
  apps/app/public/mstile-150x150.png
  apps/app/public/next.svg
  apps/app/public/safari-pinned-tab.svg
  apps/app/public/site.webmanifest
  apps/app/public/turborepo.svg
  apps/app/public/vercel.svg
  apps/app/src/app/apple-icon.tsx
  apps/app/src/app/auth/login/email/page.tsx
  apps/app/src/app/auth/login/page.tsx
  apps/app/src/app/icon.tsx
  apps/app/src/app/layout.tsx
  apps/app/src/app/manifest.ts
  apps/landing/package.json
  apps/landing/src/app/apple-icon.tsx
  apps/landing/src/app/icon.tsx
  apps/landing/src/app/layout.tsx
  packages/metadata-nextjs/.eslintrc.js
  packages/metadata-nextjs/package.json
  packages/metadata-nextjs/src/base-icon.tsx
  packages/metadata-nextjs/src/icon.tsx
  packages/metadata-nextjs/src/index.ts
  packages/metadata-nextjs/src/manifest.ts
  packages/metadata-nextjs/src/metadata.ts
  packages/metadata-nextjs/tsconfig.json
  pnpm-lock.yaml
Due: run-shared, run-app, run-landing, run-docs

fix: icon maskable
  packages/metadata-nextjs/src/manifest.ts
Due: run-shared, run-app, run-landing, run-docs

fix: pwa display mode
  packages/metadata-nextjs/src/base-icon.tsx
  packages/metadata-nextjs/src/icon.tsx
  packages/metadata-nextjs/src/manifest.ts
Due: run-shared, run-app, run-landing, run-docs

fix: docs namespace
  apps/app/src/app/manifest.ts
  apps/docs/app/layout.tsx
  apps/docs/app/page.tsx
  apps/docs/next-env.d.ts
  apps/landing/src/app/apple-icon.tsx
  apps/landing/src/app/icon.tsx
  apps/landing/src/app/manifest.ts
  packages/metadata-nextjs/src/base-icon.tsx
  packages/metadata-nextjs/src/icon.tsx
Due: run-shared, run-app, run-landing, run-docs

feat: dashboard without auth
  apps/app/src/features/Shell/Dashboard/Header/User.tsx
  apps/app/src/features/Shell/Dashboard/Header/index.tsx
  apps/app/src/features/Shell/Dashboard/index.tsx
  packages/metadata-nextjs/src/base-icon.tsx
  packages/metadata-nextjs/src/icon.tsx
Due: run-shared, run-app, run-landing, run-docs

feat: dashboard graph
  apps/app/src/app/(dashboard)/(home)/layout.tsx
  apps/app/src/features/Auth/SignInCard/index.tsx
  apps/app/src/features/DashboardHome/Balance/Chart.tsx
  apps/app/src/features/DashboardHome/Balance/index.tsx
  apps/app/src/features/DashboardHome/Handlers/index.tsx
  apps/app/src/features/Pool/List/Content.tsx
  apps/app/src/features/Pool/List/EmptyState.tsx
  apps/app/src/features/Pool/List/index.tsx
  apps/app/src/features/Shell/Dashboard/Footer/index.tsx
  apps/app/src/features/Shell/Dashboard/Header/User.tsx
  apps/app/src/features/Shell/Dashboard/Header/index.tsx
  apps/app/src/features/Shell/Dashboard/Sidebar/Content.tsx
  apps/app/src/features/Shell/Dashboard/Sidebar/nav-items.ts
  apps/app/src/features/Shell/IconButtonList/index.tsx
  apps/app/src/features/Wallet/List/index.tsx
  packages/ui/package.json
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: run-shared, run-app, run-landing, run-docs

feat: enable subpages
  apps/app/src/app/(dashboard)/(home)/layout.tsx
  apps/app/src/app/(dashboard)/address-book/page.tsx
  apps/app/src/app/(dashboard)/pool/page.tsx
  apps/app/src/app/(dashboard)/settings/notifications/page.tsx
  apps/app/src/app/(dashboard)/settings/page.tsx
  apps/app/src/app/(dashboard)/settings/security/page.tsx
  apps/app/src/app/apple-icon.tsx
  apps/app/src/app/icon.tsx
  apps/app/src/components/RouterTabs/index.tsx
  apps/app/src/components/Sidebar/SidebarWrapper.tsx
  apps/app/src/features/AddressBook/List/index.tsx
  apps/app/src/features/Auth/SignInCard/index.tsx
  apps/app/src/features/DashboardHome/Handlers/index.tsx
  apps/app/src/features/Pool/List/index.tsx
  apps/app/src/features/Shell/Dashboard/Header/User.tsx
  apps/app/src/features/Shell/Dashboard/Sidebar/nav-items.ts
  apps/app/src/features/UserSettings/General/index.tsx
  apps/app/src/features/UserSettings/Notifications/index.tsx
  apps/app/src/features/UserSettings/Security/index.tsx
Due: run-shared, run-app, run-docs

fix: radii and build error query
  apps/app/src/app/(dashboard)/(home)/layout.tsx
  apps/app/src/app/(dashboard)/address-book/page.tsx
  apps/app/src/features/DashboardHome/Balance/index.tsx
  apps/app/src/features/DashboardHome/Handlers/index.tsx
  apps/app/src/features/Shell/IconButtonList/index.tsx
  apps/app/src/features/Wallet/List/index.tsx
  apps/landing/src/components/IconBox/index.tsx
  apps/landing/src/features/About/Career/index.tsx
  apps/landing/src/features/About/PageHeader/ImageSlider.tsx
  apps/landing/src/features/About/PageHeader/index.tsx
  apps/landing/src/features/Contact/Options/items.tsx
  apps/landing/src/features/Home/Actors/Card.tsx
  apps/landing/src/features/Home/Hero/index.tsx
  apps/landing/src/features/Home/Payments/index.tsx
  apps/landing/src/features/Home/Value/index.tsx
  apps/landing/src/features/Layout/CTA/index.tsx
  apps/landing/src/features/Layout/Header/NavDesktop/index.tsx
  apps/landing/src/features/Layout/Header/NavMobile/Drawer.tsx
  apps/landing/src/features/Pricing/Options/index.tsx
  packages/ui/src/components/mutuals/icon-text-button.tsx
  packages/ui/src/theme/foundations/semantic-tokens.ts
  packages/ui/src/theme/recipes/button.ts
  packages/ui/src/theme/slot-recipes/card.ts
Due: run-shared, run-app, run-landing, run-docs

feat: dashboard content flow
  apps/app/src/app/(dashboard)/(home)/layout.tsx
  apps/app/src/features/DashboardHome/Balance/index.tsx
  apps/app/src/features/DashboardHome/Handlers/index.tsx
  packages/ui/src/theme/slot-recipes/stat.ts
Due: run-shared, run-app, run-landing, run-docs

feat: sidebar without motion
  apps/app/src/features/Shell/Dashboard/Header/index.tsx
  apps/app/src/features/Shell/Dashboard/Sidebar/Content.tsx
  apps/app/src/features/Shell/Dashboard/index.tsx
Due: run-shared, run-app, run-docs

feat: mobile and desktop sidebar
  apps/app/src/features/Shell/Dashboard/Header/User.tsx
  apps/app/src/features/Shell/Dashboard/Header/index.tsx
  apps/app/src/features/Shell/Dashboard/Root/index.tsx
  apps/app/src/features/Shell/Dashboard/Sidebar/Content.tsx
  apps/app/src/features/Shell/Dashboard/Sidebar/Desktop.tsx
  apps/app/src/features/Shell/Dashboard/Sidebar/Footer.tsx
  apps/app/src/features/Shell/Dashboard/Sidebar/Mobile.tsx
  apps/app/src/features/Shell/Dashboard/Sidebar/index.tsx
  apps/app/src/features/Shell/Dashboard/Sidebar/nav-items.ts
  apps/app/src/features/Shell/Dashboard/index.tsx
  apps/app/src/features/Shell/Dashboard/links.ts
  apps/app/src/features/Wallet/Selection/Email.tsx
  apps/app/src/features/Wallet/SelectionButton/index.tsx
Due: run-shared, run-app, run-docs

Path conditions:
  run-shared: (any of: .*) or (any of: (?!apps\/|packages\/).*)
  run-app: any of: (apps\/app|packages)\/.*
  run-landing: any of: (apps\/landing|packages)\/.*
  run-docs: any of: (apps\/app|packages)\/.*
  run-contracts: any of: (apps\/contracts|packages\/eslint-config|packages\/typescript-config|packages\/graphql-client-nextjs)\/.*
