Repository mutuals-finance/mutuals: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-shared, run-app, run-landing, run-docs, run-contracts

.circleci/config.yml:

version: 2.1

setup: true

parameters:
  run-shared:
    type: boolean
    default: false
  run-landing:
    type: boolean
    default: false
  run-app:
    type: boolean
    default: false
  run-docs:
    type: boolean
    default: false
  run-contracts:
    type: boolean
    default: false

orbs:
  path-filtering: circleci/path-filtering@2.0.0
  circleci-cli: circleci/circleci-cli@0.1.9
  continuation: circleci/continuation@1.0.0

jobs:
  setup:
    executor: path-filtering/default
    steps:
      - checkout
      - circleci-cli/install
      - run:
          name: Generate shared configuration
          command: circleci config pack .circleci/shared >> .circleci/shared-config.yml
      - path-filtering/set-parameters:
          base-revision: << pipeline.git.branch >>
          mapping: |
            .* run-shared true .circleci/shared-config.yml
            (?!apps\/|packages\/).* run-shared true .circleci/noop.yml
            (apps\/app|packages)\/.* run-app true .circleci/app/config.yml
            (apps\/landing|packages)\/.* run-landing true .circleci/landing/config.yml
            (apps\/app|packages)\/.* run-docs true .circleci/docs/config.yml
            (apps\/contracts|packages\/eslint-config|packages\/typescript-config|packages\/graphql-client-nextjs)\/.* run-contracts true .circleci/contracts/config.yml
      - path-filtering/generate-config
      - run:
          name: Validate config
          command: circleci config validate /tmp/generated-config.yml
      - continuation/continue:
          configuration_path: /tmp/generated-config.yml

workflows:
  setup:
    jobs:
      - setup

feat: icon metadata cache
  apps/landing/src/features/Contact/Options/items.tsx
  packages/metadata-nextjs/src/icon.tsx
  packages/metadata-nextjs/src/manifest.ts
Due: run-shared, run-app, run-landing, run-docs

feat: pool creation fetch (wip)
  apps/app/src/features/Claim/Tree/NodeContent.tsx
  apps/app/src/features/Claim/useClaimTree.ts
  apps/app/src/features/Claim/utils.ts
  apps/app/src/features/PoolAdd/Form/index.tsx
  apps/app/src/features/PoolAdd/Info/index.tsx
  apps/app/src/features/PoolAdd/Toolbar/ResetButton.tsx
  apps/app/src/features/PoolAdd/Toolbar/SettingsButton.tsx
  apps/app/src/features/PoolAdd/Toolbar/index.tsx
  apps/app/src/features/PoolAdd/usePoolCreate.ts
  packages/graphql-client-nextjs/src/graphql/data/__generated__/graphql.ts
  packages/sdk-react/src/types.ts
Due: run-shared, run-app, run-landing, run-docs, run-contracts

feat: docs init
  .gitignore
  apps/docs/app/apple-icon.tsx
  apps/docs/app/favicon.ico
  apps/docs/app/globals.css
  apps/docs/app/icon.tsx
  apps/docs/app/layout.tsx
  apps/docs/app/manifest.ts
  apps/docs/app/page.mdx
  apps/docs/app/page.module.css
  apps/docs/app/page.tsx
  apps/docs/mdx-components.tsx
  apps/docs/next.config.js
  apps/docs/next.config.ts
  apps/docs/package.json
  pnpm-lock.yaml
Due: run-shared

ci: deploy docs
  .circleci/config.yml
Due: run-shared

refactor: layout description
  apps/docs/app/layout.tsx
Due: run-shared

fix: navbar docs cta
  apps/landing/src/features/Layout/links.tsx
Due: run-shared, run-landing

feat: merge login and register into single call
  apps/app/src/features/Auth/useLoginOrCreateUser.ts
  apps/app/src/features/Claim/Tree/NodeRoot.tsx
  apps/app/src/features/Claim/utils.ts
  apps/app/src/features/PoolAdd/Form/index.tsx
  apps/app/src/features/PoolAdd/usePoolCreate.ts
  packages/graphql-client-nextjs/src/client/hooks.ts
  packages/graphql-client-nextjs/src/graphql/data/__generated__/gql.ts
  packages/graphql-client-nextjs/src/graphql/data/__generated__/graphql.ts
  packages/graphql-client-nextjs/src/graphql/data/mutations/UserLoginOrRegister.ts
  packages/sdk-react/src/types.ts
Due: run-shared, run-app, run-landing, run-docs, run-contracts

gitflow-feature-stash: connect-auth
  apps/app/package.json
  apps/app/src/app/(dashboard)/(home)/layout.tsx
  apps/app/src/app/(dashboard)/(home)/page.tsx
  apps/app/src/app/api/encryption-session/route.ts
  apps/app/src/app/auth/login/email/page.tsx
  apps/app/src/app/auth/login/page.tsx
  apps/app/src/constants/env.ts
  apps/app/src/features/Auth/Login/Separator.tsx
  apps/app/src/features/Auth/Login/index.tsx
  apps/app/src/features/Auth/LoginEmail/index.tsx
  apps/app/src/features/Auth/LoginGuest/index.tsx
  apps/app/src/features/Auth/LoginSocials/index.tsx
  apps/app/src/features/Auth/Provider/index.tsx
  apps/app/src/features/Auth/Require/RequireWallet.tsx
  apps/app/src/features/Auth/Require/index.tsx
  apps/app/src/features/Shell/Dashboard/Header/User.tsx
  apps/app/src/features/Shell/Dashboard/Header/UserMenu.tsx
  apps/app/src/features/Shell/Dashboard/Header/index.tsx
  apps/app/src/features/Shell/Login/index.tsx
  apps/app/src/features/Wallet/Selection/Email.tsx
  apps/app/src/features/Wallet/Selection/Wallet.tsx
  apps/app/src/features/Wallet/Selection/Wrapper.tsx
  apps/app/src/features/Wallet/Selection/index.tsx
  apps/app/src/features/Wallet/SelectionButton/index.tsx
  apps/app/src/lib/openfort/config.ts
  apps/app/src/lib/openfort/index.ts
  apps/app/src/lib/wagmi/config.ts
  apps/app/src/lib/wagmi/index.ts
  apps/app/src/middleware.ts
  apps/app/src/providers/OpenfortProvider.tsx
  apps/app/src/providers/index.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/mutuals/input.tsx
  packages/ui/src/components/ui/password-input.tsx
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: run-shared, run-app, run-landing, run-docs

feat: init para
  apps/app/package.json
  apps/app/src/app/(dashboard)/(home)/page.tsx
  apps/app/src/app/auth/login/page.tsx
  apps/app/src/components/CallbackLinkButton/index.tsx
  apps/app/src/constants/env.ts
  apps/app/src/features/Auth/Login/Separator.tsx
  apps/app/src/features/Auth/Login/index.tsx
  apps/app/src/features/Auth/LoginEmail/index.tsx
  apps/app/src/features/Auth/LoginGuest/index.tsx
  apps/app/src/features/Auth/LoginSocials/index.tsx
  apps/app/src/features/Auth/LoginWallet/index.tsx
  apps/app/src/features/Auth/Provider/index.tsx
  apps/app/src/features/Auth/SignInCard/index.tsx
  apps/app/src/features/Auth/StateProvider/index.tsx
  apps/app/src/features/Shell/Dashboard/Header/User.tsx
  apps/app/src/features/Shell/Dashboard/Header/UserMenu.tsx
  apps/app/src/features/Shell/Dashboard/Header/index.tsx
  apps/app/src/features/Wallet/SignProvider/index.tsx
  apps/app/src/hooks/useOAuth.ts
  apps/app/src/lib/para/config.ts
  apps/app/src/lib/para/index.ts
  apps/app/src/middleware.ts
  apps/app/src/providers/ParaProvider.tsx
  apps/app/src/providers/QueryProvider.tsx
  apps/app/src/providers/index.tsx
  pnpm-lock.yaml
Due: run-shared, run-app, run-docs

feat: init privy
  apps/app/src/features/Auth/Login/index.tsx
  apps/app/src/features/Auth/LoginEmail/index.tsx
  apps/app/src/features/Auth/LoginGuest/index.tsx
  apps/app/src/features/Auth/LoginSocials/index.tsx
  apps/app/src/features/Auth/LoginWallet/index.tsx
  apps/app/src/features/Auth/StateProvider/index.tsx
  apps/app/src/features/Auth/types.ts
  apps/app/src/features/Shell/Dashboard/Header/User.tsx
  apps/app/src/features/Shell/Dashboard/Header/UserMenu.tsx
  apps/app/src/features/Shell/Dashboard/Header/index.tsx
  apps/app/src/features/Wallet/SelectionButton/index.tsx
  apps/app/src/lib/privy/config.ts
  apps/app/src/lib/privy/index.ts
  apps/app/src/lib/wagmi/index.ts
  apps/app/src/providers/PrivyProvider.tsx
  apps/app/src/providers/WagmiProvider.tsx
  apps/app/src/providers/index.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/mutuals/form/index.ts
  packages/ui/src/components/mutuals/form/pin-input.tsx
  packages/ui/src/index.ts
Due: run-shared, run-app, run-landing, run-docs

refactor: remove deprecated auth deps
  apps/app/package.json
  apps/app/src/app/api/encryption-session/route.ts
  apps/app/src/constants/env.ts
  apps/app/src/hooks/useOAuth.ts
  apps/app/src/lib/openfort/config.ts
  apps/app/src/lib/openfort/index.ts
  apps/app/src/lib/para/config.ts
  apps/app/src/lib/para/index.ts
  apps/app/src/lib/wagmi/config.ts
  apps/app/src/lib/wagmi/index.ts
  apps/app/src/providers/OpenfortProvider.tsx
  apps/app/src/providers/ParaProvider.tsx
  apps/app/src/providers/QueryProvider.tsx
  apps/app/src/providers/index.tsx
  pnpm-lock.yaml
Due: run-shared, run-app, run-docs

feat: login callback onComplete
  apps/app/src/app/layout.tsx
  apps/app/src/components/CountdownTimer/index.tsx
  apps/app/src/features/Auth/Login/Provider.tsx
  apps/app/src/features/Auth/Login/index.tsx
  apps/app/src/features/Auth/LoginEmail/CodeDialog.tsx
  apps/app/src/features/Auth/LoginEmail/index.tsx
  apps/app/src/features/Auth/LoginGuest/index.tsx
  apps/app/src/features/Auth/LoginPasskey/index.tsx
  apps/app/src/features/Auth/LoginSocials/index.tsx
  apps/app/src/features/Auth/LoginWallet/index.tsx
  apps/app/src/features/Auth/Provider/index.tsx
  apps/app/src/features/Auth/useLogin.ts
  apps/app/src/features/Auth/useLoginOrCreateUser.ts
  apps/app/src/lib/privy/config.ts
  apps/app/src/providers/index.tsx
Due: run-shared, run-app, run-docs

feat: experimental warning
  apps/app/src/app/(dashboard)/layout.tsx
  apps/app/src/features/Auth/Require/RequireWallet.tsx
  apps/app/src/features/Claim/useClaimTree.ts
  apps/app/src/features/Shell/Dashboard/Header/Alert.tsx
  apps/app/src/features/Shell/Dashboard/Header/User.tsx
  apps/app/src/features/Shell/Dashboard/Header/index.tsx
  apps/app/src/features/Shell/Dashboard/index.tsx
Due: run-shared, run-app, run-docs

feat: identification
  apps/app/src/features/Auth/LoginEmail/index.tsx
  apps/app/src/features/Auth/LoginGuest/index.tsx
  apps/app/src/features/Auth/LoginPasskey/index.tsx
  apps/app/src/features/Auth/LoginSocials/index.tsx
  apps/app/src/features/Auth/LoginWallet/index.tsx
  apps/app/src/features/Shell/Login/Provider.tsx
  packages/sdk-react/src/hooks/mutuals.tsx
Due: run-shared, run-app, run-landing, run-docs

fix: build type errors
  apps/app/src/features/PoolAdd/Form/index.tsx
  apps/app/src/features/PoolAdd/Modal/index.tsx
  apps/app/src/features/PoolAdd/usePoolCreate.ts
  pnpm-lock.yaml
Due: run-shared, run-app, run-docs

feat: login loading states
  apps/app/src/app/auth/layout.tsx
  apps/app/src/app/auth/login/layout.tsx
  apps/app/src/app/auth/login/page.tsx
  apps/app/src/features/Auth/Login/index.tsx
  apps/app/src/features/Auth/LoginEmail/CodeDialog.tsx
  apps/app/src/features/Auth/LoginEmail/index.tsx
  apps/app/src/features/Auth/LoginGuest/index.tsx
  apps/app/src/features/Auth/LoginPasskey/index.tsx
  apps/app/src/features/Auth/LoginSocials/index.tsx
  apps/app/src/features/Auth/LoginWallet/index.tsx
  apps/app/src/features/Shell/Login/Provider.tsx
  apps/app/src/providers/AnalyticsProvider.tsx
  packages/ui/src/components/mutuals/form/pin-input.tsx
Due: run-shared, run-app, run-landing, run-docs

feat: hook dashboard loading state
  apps/app/src/app/(dashboard)/(home)/layout.tsx
  apps/app/src/app/(dashboard)/pool/page.tsx
  apps/app/src/features/Auth/Login/index.tsx
  apps/app/src/features/Auth/LoginWallet/index.tsx
  apps/app/src/features/Auth/Provider/index.tsx
  apps/app/src/features/Auth/SignInCard/index.tsx
  apps/app/src/features/Pool/Card/Skeleton.tsx
  apps/app/src/features/Pool/List/Content.tsx
  apps/app/src/features/Pool/List/index.tsx
  apps/app/src/features/Shell/Dashboard/Header/Alert.tsx
  apps/app/src/features/Shell/Dashboard/Header/User.tsx
  apps/app/src/features/Shell/Dashboard/Header/UserMenu.tsx
  apps/app/src/features/Shell/Dashboard/Header/index.tsx
  apps/app/src/features/Shell/Login/Header.tsx
  apps/app/src/features/Shell/Login/Provider.tsx
  apps/app/src/features/Wallet/Avatar/index.tsx
  apps/app/src/features/Wallet/Card/Skeleton.tsx
  apps/app/src/features/Wallet/Card/index.tsx
  apps/app/src/features/Wallet/List/Content.tsx
  apps/app/src/features/Wallet/List/index.tsx
  apps/landing/src/features/Layout/Header/ContainerWrapper/index.tsx
  apps/landing/src/features/Layout/Header/NavLink.tsx
Due: run-shared, run-app, run-landing, run-docs

fix: route refresh on auth
  apps/app/src/features/Shell/Login/Provider.tsx
Due: run-shared, run-app, run-docs

feat: login or link wallet
  apps/app/src/features/Auth/LoginWallet/index.tsx
  apps/app/src/features/Auth/Provider/index.tsx
  apps/app/src/features/Shell/Login/Provider.tsx
Due: run-shared, run-app, run-docs

chore: upgrade deps
  apps/app/next-env.d.ts
  apps/app/package.json
  apps/app/src/app/icon.tsx
  apps/contracts/package.json
  apps/docs/package.json
  apps/landing/next-env.d.ts
  apps/landing/package.json
  apps/landing/src/app/icon.tsx
  package.json
  packages/analytics-nextjs/package.json
  packages/eslint-config/package.json
  packages/extensions/package.json
  packages/graphql-client-nextjs/package.json
  packages/graphql-client-nextjs/src/client/hooks.ts
  packages/metadata-nextjs/package.json
  packages/sdk-react/package.json
  packages/sdk/package.json
  packages/ui/package.json
  packages/ui/src/components/ui/carousel.tsx
  packages/ui/src/components/ui/color-mode.tsx
  packages/ui/src/components/ui/combobox.tsx
  packages/ui/src/components/ui/tags-input.tsx
  packages/ui/src/components/ui/toggle-tip.tsx
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Due: run-shared, run-app, run-landing, run-docs, run-contracts

feat: landing hero
  apps/app/package.json
  apps/app/src/assets/svg/grid_Light.svg
  apps/landing/next-env.d.ts
  apps/landing/public/hero-bg.mp4
  apps/landing/public/hero-gradient-bg.mp4
  apps/landing/src/assets/bg-hero-top-left.png
  apps/landing/src/assets/payment/all-desktop.svg
  apps/landing/src/assets/payment/all-mobile.svg
  apps/landing/src/components/IconBox/index.tsx
  apps/landing/src/features/Home/Hero/Image.tsx
  apps/landing/src/features/Home/Hero/PaymentTabs.tsx
  apps/landing/src/features/Home/Hero/Video.tsx
  apps/landing/src/features/Home/Hero/index.tsx
  apps/landing/src/features/Home/Hero/paymentItems.ts
  apps/landing/src/features/Home/Value/ValueCard.tsx
  apps/landing/src/features/Home/Value/index.tsx
  apps/landing/src/features/Layout/Header/NavDesktop/index.tsx
  apps/landing/src/features/Layout/Header/NavLink.tsx
  apps/landing/src/features/Layout/Header/NavMobile/MenuButton.tsx
  apps/landing/src/features/Layout/Header/NavMobile/Navbar.tsx
  apps/landing/src/features/Layout/Header/NavWrapper/index.tsx
  apps/landing/src/features/Layout/Main/index.tsx
  pnpm-lock.yaml
Due: run-shared, run-app, run-landing, run-docs

fix: landing build
  apps/landing/next.config.ts
  apps/landing/src/app/manifest.ts
Due: run-shared, run-landing

fix: app type errors
  apps/app/next-env.d.ts
  apps/app/next.config.ts
  apps/app/src/app/manifest.ts
  apps/app/src/constants/chains.ts
  apps/app/src/features/Auth/Require/RequireWallet.tsx
  apps/app/src/features/Auth/Require/index.tsx
  apps/app/src/features/PoolAdd/Form/index.tsx
  apps/app/src/features/PoolAdd/usePoolCreate.ts
  apps/app/src/features/Wallet/useSignRemoteMessage.ts
  apps/app/src/lib/split/index.ts
  packages/graphql-client-nextjs/src/client/client.ts
  packages/graphql-client-nextjs/src/index.ts
  packages/graphql-client-nextjs/src/server/client.ts
  packages/graphql-client-nextjs/src/server/fetchers.ts
  packages/graphql-client-nextjs/src/server/networkErrorLink.ts
  packages/graphql-client-nextjs/src/types.ts
Due: run-shared, run-app, run-landing, run-docs, run-contracts

refactor: wallet card sizing
  apps/app/next-env.d.ts
  apps/app/src/components/RouterTabs/index.tsx
  apps/app/src/features/Wallet/Avatar/index.tsx
  apps/app/src/features/Wallet/Card/Skeleton.tsx
  apps/app/src/features/Wallet/Card/index.tsx
  apps/app/src/features/Wallet/List/Content.tsx
  apps/app/src/features/Wallet/List/index.tsx
Due: run-shared, run-app, run-docs

reactor: mobile bg video height
  apps/landing/next-env.d.ts
  apps/landing/src/features/Home/Hero/Video.tsx
Due: run-shared, run-landing

fix: docs version build
  apps/docs/app/[[...mdxPath]]/page.tsx
  apps/docs/app/icon.tsx
  apps/docs/app/manifest.ts
  apps/docs/content/index.mdx
  apps/docs/mdx-components.tsx
  apps/docs/next-env.d.ts
  apps/docs/next.config.ts
  apps/docs/package.json
  pnpm-lock.yaml
Due: run-shared

build: run docs
  apps/docs/next-env.d.ts
Due: run-shared

fix: company name
  apps/app/src/config.ts
Due: run-shared, run-app, run-docs

feat: contact bottom margin
  apps/landing/src/features/Contact/Options/index.tsx
Due: run-shared, run-landing

feat: desktop active bg
  apps/app/next.config.ts
  apps/landing/next-env.d.ts
  apps/landing/next.config.ts
  apps/landing/src/assets/payment/hero-desktop.svg
  apps/landing/src/assets/payment/hero-mobile.svg
  apps/landing/src/features/Home/Hero/Image.tsx
  apps/landing/src/features/Home/Hero/Video.tsx
  apps/landing/src/features/Home/Hero/index.tsx
  apps/landing/src/features/Layout/Header/NavContainer/index.tsx
  apps/landing/src/features/Layout/Header/NavDesktop/index.tsx
  apps/landing/src/features/Layout/Header/NavLink.tsx
  apps/landing/src/features/Layout/Header/index.tsx
  apps/landing/src/features/Layout/Provider/index.tsx
  apps/landing/src/features/Layout/index.tsx
  apps/landing/src/features/Pricing/Options/index.tsx
  packages/ui/src/components/mutuals/link.tsx
Due: run-shared, run-app, run-landing, run-docs

feat: docs font, layout and concept
  apps/docs/app/[[...mdxPath]]/page.tsx
  apps/docs/app/globals.css
  apps/docs/app/layout.tsx
  apps/docs/content/concepts/extensions.mdx
  apps/docs/content/index.mdx
  apps/docs/mdx-components.tsx
  apps/docs/next.config.ts
  apps/docs/package.json
  pnpm-lock.yaml
Due: run-shared

feat: landing header border
  apps/landing/next-env.d.ts
  apps/landing/src/features/Layout/Header/NavDesktop/index.tsx
  packages/metadata-nextjs/src/icon.tsx
Due: run-shared, run-app, run-landing, run-docs

fix: eslint config
  apps/app/.eslintrc.js
  apps/app/eslint.config.js
  apps/app/src/features/Shell/Dashboard/Header/index.tsx
  apps/app/src/features/Shell/Dashboard/Sidebar/Desktop.tsx
  apps/app/src/features/Shell/Login/Provider.tsx
  apps/app/src/features/Wallet/SignProvider/index.tsx
  apps/app/src/features/Wallet/useSignRemoteMessage.ts
  packages/eslint-config/base.js
  packages/eslint-config/next.js
  packages/graphql-client-nextjs/src/client/hooks.ts
  packages/graphql-client-nextjs/src/graphql/data/__generated__/gql.ts
  packages/graphql-client-nextjs/src/graphql/data/__generated__/graphql.ts
  packages/graphql-client-nextjs/src/graphql/data/mutations/NonceCreate.ts
  packages/graphql-client-nextjs/src/graphql/data/mutations/TokenCreate.ts
  packages/graphql-client-nextjs/src/graphql/data/mutations/TokensDeactivateAll.ts
  packages/graphql-client-nextjs/src/graphql/data/mutations/UserLoginOrRegister.ts
  packages/graphql-client-nextjs/src/graphql/data/mutations/UserRegister.ts
  packages/graphql-client-nextjs/src/graphql/data/mutations/WalletCreate.ts
  packages/graphql-client-nextjs/src/graphql/data/queries/GetUserByWalletAddress.ts
  packages/graphql-client-nextjs/src/graphql/data/queries/MeGet.ts
  packages/graphql-client-nextjs/src/graphql/data/queries/MyPoolsGet.ts
  packages/graphql-client-nextjs/src/graphql/data/queries/PoolGetById.ts
  packages/graphql-client-nextjs/src/server/fetchers.ts
Due: run-shared, run-app, run-landing, run-docs, run-contracts

feat: button scale on ative
  apps/app/src/features/DashboardHome/Handlers/index.tsx
  apps/app/src/features/Shell/Dashboard/Header/index.tsx
  apps/app/src/features/Shell/Dashboard/Sidebar/Desktop.tsx
  package.json
  packages/ui/src/theme/recipes/button.ts
  pnpm-lock.yaml
  turbo.json
Due: run-shared, run-app, run-landing, run-docs

fix: build type errors
  apps/app/next-env.d.ts
  apps/app/src/features/PoolAdd/usePoolCreate.ts
  apps/app/src/features/Wallet/Form/Drawer.tsx
  apps/app/src/features/Wallet/SignProvider/index.tsx
  apps/app/src/utils/utils.ts
  packages/graphql-client-nextjs/src/server/fetchers.ts
  packages/sdk-react/src/types.ts
Due: run-shared, run-app, run-landing, run-docs, run-contracts

fix: button font weight
  apps/app/next-env.d.ts
  apps/landing/src/features/Home/Actors/Card.tsx
  apps/landing/src/features/Home/Hero/index.tsx
  apps/landing/src/features/Layout/Header/NavDesktop/index.tsx
  apps/landing/src/features/Layout/Header/NavWrapper/index.tsx
  apps/landing/src/features/Layout/links.tsx
  packages/ui/src/theme/recipes/button.ts
Due: run-shared, run-app, run-landing, run-docs

fix: guest wallet creation
  apps/app/src/features/Shell/Dashboard/Header/index.tsx
  apps/app/src/features/Shell/Login/Provider.tsx
  apps/landing/package.json
  apps/landing/src/providers/Analytics/index.tsx
  apps/landing/src/providers/index.tsx
  pnpm-lock.yaml
Due: run-shared, run-app, run-landing, run-docs

fix: mobile wallet and ellipsis button
  apps/app/src/features/Shell/Dashboard/Header/index.tsx
Due: run-shared, run-app, run-docs
